<div class="tile-wrapper">
    <div *ngIf="isAvailable(items)" class="tile-card">
        <div *ngFor="let item of items" class="tc-item" data-id="{{ item.id }}">
            <ion-card class="thin" (click)="selectItem(item)">
                <div class="card-image">
                    <div *ngIf="item.course_image" class="card-image-frame" [ngStyle]="{'background-image': 'url(' + item.course_image + ')'}"></div>
                    <span *ngIf="!item.course_image" class="card-image-letter">{{ item.letter }}</span>
                    
                    <div class="card-image-tags">
                        <cq_tags [item]="item"></cq_tags>
                    </div>
                </div>

                <ion-card-header>
                    <div class="card-title">
                        <div class="card-title-inner">
                            {{ item.title }} 
                        </div>
                    </div>
                </ion-card-header>
            </ion-card>
        </div>

        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
    </div>

    <cq_empty [empty]="isEmpty(items)"></cq_empty>
</div>
