<div class="tile-wrapper">
    <div *ngIf="isAvailable(items)" class="tile-card">
        <div *ngFor="let item of items" class="tc-item">
            <ion-card class="thin" (click)="selectItem(item)">
                <div class="card-image">
                    <div *ngIf="item.course_image" class="card-image-frame" [ngStyle]="{'background-image': 'url(' + item.course_image + ')'}"></div>
                    <span *ngIf="!item.course_image" class="card-image-letter">{{ item.letter }}</span>
                    
                    <div class="card-image-tags">
                        <div class="cq-tag-wrapper">
                            <ng-container *ngIf="item.media">
                                <span *ngIf="item.media == 'online'" class="cq-tag">E-Learning</span>
                                <span *ngIf="item.media == 'offline'" class="cq-tag">Classroom Training</span>
                            </ng-container>

                            <span *ngIf="item.detailedUserStatusInSession == 'enrolled'" class="cq-tag">{{ item.detailedUserStatusInSessionText }}</span>
                            <span *ngIf="item.detailedUserStatusInSession == 'accredited'" class="cq-tag green">
                                <ion-icon name="checkmark-circle" style="vertical-align: text-bottom; padding-right: 2px;"></ion-icon>
                                {{ item.detailedUserStatusInSessionText }}
                            </span>

                            <span *ngIf="item.compulsory === true || item.compulsory === 1 || item.compulsory === '1'" class="cq-tag orange">Compulsory</span>
                            <span *ngIf="item.typeText || item.courseTypeText" class="cq-tag dark-grey">{{ item.typeText || item.courseTypeText }}</span>
                            <span *ngIf="item.categoryname || item.categoryName" class="cq-tag dark-grey">{{ item.categoryname || item.categoryName }}</span>
                        </div>
                    </div>
                </div>

                <ion-card-header>
                    <div class="card-title">
                        <div class="card-title-inner">
                            {{ item.title }} 
                        </div>
                    </div>
                </ion-card-header>
            </ion-card>
        </div>

        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
        <div class="tc-item fake"></div>
    </div>

    <cq_empty [empty]="isEmpty(items)"></cq_empty>
</div>
