<ion-header>
    <cq_header [title]="'My Courses'" [displayMenu]="true" [displayNotification]="true" [displayUserMenu]="true" [displayProgress]="pageIsLoading"></cq_header>
</ion-header>

<ion-content class="cq_my_courses">
    <ion-refresher slot="fixed" [disabled]="!pageStatus" (ionRefresh)="pageRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="pageStatus">
        <div class="base-background pb-5">

        <div class="pl-cs pr-cs pt-36">
            <cq_filter [filterMultipleTitle]="'Course Filter'" [filterMultiple]="pageData.filterMultiple" (onFilterChange)="onFilterChange($event)"></cq_filter>
            <cq_items [items]="pageData.courses" [type]="'list'" [listSecondLine]="'countdown'" (onSelectItem)="openCourse($event)"></cq_items>

            <button *ngIf="isAvailable(pageData.courses)" class="load-more-button {{ pageIsLoading ? 'loading' : '' }}" (click)="pageForceLoadMore()" [disabled]="reachedEndOfList">
                <ion-icon *ngIf="!pageIsLoading" name="arrow-down-circle"></ion-icon>
                <ion-spinner *ngIf="pageIsLoading"></ion-spinner>
            </button>
        </div>

        </div>
    </core-loading>
</ion-content>
