#main-wrapper
{
	display: flex;
	justify-content: center;
	flex-direction: column;
    height: calc(100vh - 50px - 54px);

	> *
	{
		flex-grow: 0;
		flex-shrink: 0;
	}

	#main-content
	{
		flex-grow: 1;
		flex-shrink: 0;
	}
}
