<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>587896526108-eeeivg48fm3ib0mco1ublfgb3cdidmao.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.587896526108-eeeivg48fm3ib0mco1ublfgb3cdidmao</string>
    <key>API_KEY</key>
    <string>AIzaSyD-3tJ5VHHvXEjvXbtibPk4DclNrce1ntI</string>
    <key>GCM_SENDER_ID</key>
    <string>587896526108</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.moodle.cyberquote</string>
    <key>PROJECT_ID</key>
    <string>cq-academy-staging</string>
    <key>STORAGE_BUCKET</key>
    <string>cq-academy-staging.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:587896526108:ios:77df2714e33901b149d6d9</string>
</dict>
</plist>