<ion-header>
    <cq_header [title]="(showCalendar ? 'addon.calendar.calendarevents' : 'addon.calendar.upcomingevents') | translate" [displayMenu]="true" [displayNotification]="true" [displayUserMenu]="true" [displayProgress]="pageIsLoading"></cq_header>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" [disabled]="!loaded" (ionRefresh)="doRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <!-- There is data to be synchronized -->
    <ion-card *ngIf="hasOffline" class="core-warning-card">
        <ion-item>
            <ion-icon name="fas-exclamation-triangle" slot="start" aria-hidden="true"></ion-icon>
            <ion-label>{{ 'core.hasdatatosync' | translate:{$a: 'addon.calendar.calendar' | translate} }}</ion-label>
        </ion-item>
    </ion-card>

    <div class="base-background pb-5">
        <div class="text-center pt-36 ml-cs mr-cs d-flex justify-between" style="position: relative; z-index: 2;">
            <button class="{{ mode == 'calendar' ? 'active' : '' }}" (click)="selectMode('calendar')" style="width: calc(50% - 12px)">
                <span>Calendar</span>
            </button>
            <button class="{{ mode == 'events' ? 'active' : '' }}" (click)="selectMode('events')" style="width: calc(50% - 12px)">
                <span>Events</span>
            </button>
        </div>

        <div class="cq-slide">
            <div class="cq-slide-wrapper {{ mode == 'calendar' ? 'slide-1' : 'slide-2' }} pt-36">
                <div class="cq-slide-item">
                    <addon-calendar-calendar [initialYear]="year" [initialMonth]="month" [filter]="filter"
                        [displayNavButtons]="showCalendar" (onEventClicked)="gotoEvent($event)" (onDayClicked)="gotoDay($event)">
                    </addon-calendar-calendar>
                </div>
                <div class="cq-slide-item">
                    <addon-calendar-upcoming-events [filter]="filter" (onEventClicked)="gotoEvent($event)">
                    </addon-calendar-upcoming-events>
                </div>
            </div>
        </div>
    </div>

    <ion-fab slot="fixed" core-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="openFilter()" [attr.aria-label]="'core.filter' | translate" class="mb-cst" size="small" fill="clear">
            <ion-icon name="fas-filter" aria-hidden="true" style="color: white; font-size: 16px;"></ion-icon>
            <span class="sr-only">{{ 'core.filter' | translate }}</span>
        </ion-fab-button>

        <ion-fab-button *ngIf="canCreate" (click)="openEdit()" [attr.aria-label]="'addon.calendar.newevent' | translate" size="small" fill="clear">
            <ion-icon name="fas-plus" aria-hidden="true" style="color: white; font-size: 16px;"></ion-icon>
            <span class="sr-only">{{ 'addon.calendar.newevent' | translate }}</span>
        </ion-fab-button>
    </ion-fab>
</ion-content>
