$cq_purple: #daa9f8;
$cq_purple_dark: #5B305D;
$red: #ff5757;
$green: #10c13e;
$blue: #10a5c1;
$yellow: #ffd32a;
$orange: #ff9800;
$purple: #a77fb2;
$light_grey: #ddd;
$medium_grey: #999;
$dark_grey: #444;

$line_color: $light_grey;
$button_drawer_offset: 25px;
$button_menu_left: 70px;
$button_menu_height: 48px;
$component_spacing: 20px;
$component_spacing_thin: 12px;

$header_height: 50px;
$footer_height: 50px;
$tab_height: 40px;

$neumorphism_shadow: 6px 6px 12px #cecece, -4px -4px 12px #ffffff;
$neumorphism_shadow_inset: inset 6px 6px 12px #cecece, inset -4px -4px 12px #ffffff;
$normal_shadow: 0px 0px 25px -2px #cecece;
$normal_shadow_inset: inset 0px 0px 25px -2px #cecece;
$base_background_no_image: #f2f2f2;
$base_background: #{$base_background_no_image} url("../images/pattern/geometry.png");
$component_background: #f2f2f2;

$gradient_background: linear-gradient(90deg, var(--headerBackgroundRightenColor) 0%, var(--headerBackgroundColor) 50%, var(--headerBackgroundLightenColor) 100%);
$bar_background: $gradient_background;

@mixin padding_margin
{
    $properties: p, m;
    $directions: l, t, r, b;
    $min: -48;
    $max: 48;
    $multiplier: 1;
    $dictionary: ("p": padding, "m": margin, "l": left, "t": top, "r": right, "b": bottom);

    @each $property in $properties
    {
        $p: map-get($dictionary, $property);
        @each $direction in $directions
        {
            $d: map-get($dictionary, $direction);
            @for $i from $min through $max
            {
                .#{$property + $direction}-#{$i * $multiplier} { #{$p}-#{$d}: #{$i * $multiplier}px !important }
            }
            .#{$property + $direction}-auto { #{$p}-#{$d}: auto !important }
        }
    }
}

@mixin padding_margin_component_spacing
{
    $properties: p, m;
    $directions: l, t, r, b;
    $spacings: cs, cst;
    $sizes: full, half;
	$types: positive, negative;
    $dictionary: ("p": padding, "m": margin, "l": left, "t": top, "r": right, "b": bottom, "positive": "", "negative": "-");
    $dictionary_mlpr: ("positive": 1, "negative": -1);

    @each $property in $properties
    {
        $p: map-get($dictionary, $property);
        @each $direction in $directions
        {
            $d: map-get($dictionary, $direction);
            @each $spacing in $spacings
            {
	            @each $size in $sizes
	            {
				    @each $type in $types
				    {
				        $t: map-get($dictionary, $type);
				        $mlpr: map-get($dictionary_mlpr, $type);
    	            	@if $spacing == cs
    	            	{
    	            		@if $size == full
    	            		{
    		            		.#{$property + $direction}-#{$t}#{$spacing} { #{$p}-#{$d}: #{$component_spacing * $mlpr} !important }
    	            		}
    	            		@else
    	            		{
    		            		.#{$property + $direction}-#{$t}#{$spacing}-half { #{$p}-#{$d}: #{$component_spacing / 2 * $mlpr} !important }
    	            		}
    	            	}
    	            	@else
    	            	{
    	            		@if $size == full
    	            		{
    		            		.#{$property + $direction}-#{$t}#{$spacing} { #{$p}-#{$d}: #{$component_spacing_thin * $mlpr} !important }
    	            		}
    	            		@else
    	            		{
    		            		.#{$property + $direction}-#{$t}#{$spacing}-half { #{$p}-#{$d}: #{$component_spacing_thin / 2 * $mlpr} !important }
    	            		}
    	            	}
				    }
	            }
            }
        }
    }
}

@mixin elevation1
{
    border: 0px !important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
}
@mixin elevation2
{
    border: 0px !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;
}
@mixin elevation3
{
    border: 0px !important;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;
}
@mixin elevation4
{
    border: 0px !important;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important;
}
@mixin elevation5
{
    border: 0px !important;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)!important;
}

@font-face {
  font-family: "mainfont";
  src: url("../../../../assets/fonts/ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "mainfont light";
  src: url("../../../../assets/fonts/ubuntu/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "secondfont";
  src: url("../../../../assets/fonts/ptsans/PTSans-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../assets/fonts/ro-bo-to/Roboto-Regular.ttf");
}

body
{
	font-family: "mainfont";
	color: #222222;

	*
	{
		font-family: inherit;
		color: inherit;
	}

	// ============================================================================================= helper
	/* *a/
	#zoomElement
	{
		display: none;
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 9;

		button
		{
			background: transparent !important;
			box-shadow: none !important;
		}
	}
	*[class*="zmwebsdk"]
	{
		button
		{
			background: transparent !important;
			box-shadow: none !important;
		}
	}
	/* */

	@include padding_margin;
	@include padding_margin_component_spacing;

	.main-font
	{
		font-family: "mainfont" !important;
	}
	.second-font
	{
		font-family: "secondfont" !important;
	}
	.component-background
	{
		background: $component_background;
	}
	.base-background
	{
		background: $base_background_no_image;
	}
	.gradient-background
	{
		background-image: $gradient_background !important;
	}

	.neumorphism-shadow
	{
		box-shadow: $neumorphism_shadow;
	}
	.neumorphism-shadow-inset
	{
		box-shadow: $neumorphism_shadow_inset;
	}

    .elevation-1 { @include elevation1; }
    .elevation-2 { @include elevation2; }
    .elevation-3 { @include elevation3; }
    .elevation-4 { @include elevation4; }
    .elevation-5 { @include elevation5; }

	@keyframes breathing
	{
	    0% { transform: scale(1) }
	    40% { transform: scale(0.8) }
	    50% { transform: scale(0.8) }
	    90% { transform: scale(1) }
	    100% { transform: scale(1) }
	}
    .this-is-breathing
    {
        animation-name: breathing;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    .d-flex
    {
        display: flex;

        &.justify-center
        {
            justify-content: center;
        }
        &.justify-between
        {
            justify-content: space-between;
        }
        &.align-center
        {
            align-items: center;
        }
    }
    .center
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .no-break
    {
        text-overflow: initial !important;
        white-space: normal !important;
    }
    .last-child-no-margin > *:last-child
    {
        margin-bottom: 0px !important;
    }
    .grecaptcha-badge
    {
        display: none !important;
    }

    .d-none
    {
    	display: none !important;
    }
    .d-block
    {
    	display: block !important;
    }
    @media (max-width: 400px)
    {
	    .d-none-400-below
	    {
	    	display: none !important;
	    }
	    .d-block-400-below
	    {
	    	display: block !important;
	    }
    }

    .text-left-important { text-align: left !important; }
    .text-center-important { text-align: center !important; }
    .text-right-important { text-align: right !important; }
    .text-justify-important { text-align: justify !important; }

    .color-cq { color: $cq_purple !important; }
    .color-cqd { color: $cq_purple_dark !important; }
	.color-red { color: $red !important }
	.color-green { color: $green !important }
	.color-blue { color: $blue !important }
	.color-yellow { color: $yellow !important }
	.color-orange { color: $orange !important }
	.color-purple { color: $purple !important }
	.color-grey { color: $medium_grey !important }
	.color-light-grey { color: $light_grey !important }
	.color-medium-grey { color: $medium_grey !important }
	.color-dark-grey { color: $dark_grey !important }
	.color-white { color: white !important }
	.color-black { color: black !important }

    .background-cq { background-color: $cq_purple !important; }
    .background-cqd { background-color: $cq_purple_dark !important; }
	.background-red { background-color: $red !important }
	.background-green { background-color: $green !important }
	.background-blue { background-color: $blue !important }
	.background-yellow { background-color: $yellow !important }
	.background-orange { background-color: $orange !important }
	.background-purple { background-color: $purple !important }
	.background-grey { background-color: $medium_grey !important }
	.background-light-grey { background-color: $light_grey !important }
	.background-medium-grey { background-color: $medium_grey !important }
	.background-dark-grey { background-color: $dark_grey !important }
	.background-white { background-color: white !important }
	.background-black { background-color: black !important }

    .background-header-background-color { background-color: var(--headerBackgroundColor, $cq_purple_dark) !important; }
    .color-header-background-color { color: var(--headerBackgroundColor, $cq_purple_dark) !important; }
    .background-header-text-color { background-color: var(--headerTextColor, white) !important; }
    .color-header-text-color { color: var(--headerTextColor, white) !important; }
    .background-footer-background-color { background-color: var(--footerBackgroundColor, $cq_purple_dark) !important; }
    .color-footer-background-color { color: var(--footerBackgroundColor, $cq_purple_dark) !important; }
    .background-footer-text-color { background-color: var(--footerTextColor, white) !important; }
    .color-footer-text-color { color: var(--footerTextColor, white) !important; }

    .font-bold { font-weight: 700 !important; }

	// ============================================================================================= angular / ionic / moodle component
	.cq-events
	{
		background: $base_background_no_image !important;

		button
		{
			width: 100%;
			font-size: 16px !important;

			ion-label
			{
				margin-top: 0px !important;
				margin-right: 0px !important;
				margin-bottom: 0px !important;

				.item-heading
				{
					margin-bottom: 8px !important;
				    font-weight: 700 !important;
				}
			}
		}
	}

	core-user-menu-button
	{
		position: relative;
		outline: none !important;

		*
		{
			outline: none !important;
		}
	}
	core-empty-box
	{
		min-height: 60vh;
	}
	ion-tabs, ion-modal
	{
		ion-header
		{
			position: relative;
			height: $header_height;
			z-index: 14;

			ion-toolbar
			{
				height: $header_height;
    			overflow: hidden;

	    	    &::before
	    	    {
	    	    	content: "";
	    	    	position: fixed;
	    	    	left: 0px;
	    	    	top: 0px;
	    	    	right: 0px;
	    	    	height: $header_height;
	    			background: $gradient_background;
	    	    	z-index: 1 !important;
					box-shadow: $neumorphism_shadow;
	    	    }
	    	    > *
	    	    {
	    	    	position: relative;
	    	    	z-index: 2;
	    	    }

	    	    ion-buttons
	    	    {
	    	    	ion-button
	    	    	{
	    	    		background: transparent !important;

		    			&::part(native)
		    			{
		    	    		background: transparent !important;
		    			}
		    			ion-icon
		    			{
		    				color: white;
		    				font-size: 25px !important;
		    			}
	    	    	}
	    	    }
			}
		}
		ion-content
		{
			position: relative;
		    z-index: 13;
		    background: $base_background_no_image;

		    &::part(background)
		    {
		    	background: $base_background_no_image;
		    }

		    > core-loading
		    {
		    	display: block !important;
		    	
		    	/* *a/
	    	    &::before
	    	    {
	    	    	content: "";
	    	    	position: absolute;
	    	    	left: 0px;
	    	    	top: 0px;
	    	    	right: 0px;
	    	    	bottom: 0px;
	    			background: $base_background_no_image;
	    	    	z-index: 1 !important;
	    	    }
	    	    > *
	    	    {
	    	    	position: relative;
	    	    	z-index: 2;
	    	    }
		    	/* */
		    }
		}
		ion-footer
		{
		    background: $base_background_no_image;

		    ion-button
		    {
		    	ion-icon
		    	{
		    		color: white;
		    	}
		    }
		}
	}
	ion-tab-bar
	{
		background: $gradient_background !important;
		border: 0px;
		box-shadow: $neumorphism_shadow;
		justify-content: space-evenly;
		contain: none;

		ion-tab-button
		{
			flex-grow: 0;
    		flex-basis: 48px;
    		color: white;
    		background: transparent;

    		ion-icon
    		{
	    		color: white;
    		}
		}
		svg
		{
			display: none;

			polygon
			{
				fill: $bar_background !important;
			}
		}
	}
	ion-card
	{
		border-radius: 16px;
		background: $component_background;
		border: 0px;
		margin: $component_spacing;
		padding: $component_spacing;

		&:not(.no-shadow)
		{
			box-shadow: $neumorphism_shadow;
		}

		.card-image
		{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 150px;
			background: #bbb;
			margin: #{$component_spacing * -1} #{$component_spacing * -1} 0px;

			.card-image-frame
			{
				background-size: cover;
				background-position: center center;
				width: 100%;
				height: 100%;
			}
			.card-image-letter
			{
				font-size: 32px;
				color: white;
			}
			.card-image-tags
			{
				position: absolute;
			    left: 4px;
			    top: 4px;
			    right: 4px;
			    bottom: 0px;
			    overflow: hidden;
			    text-align: right;
			}
		}
		ion-card-header
		{
			padding-left: 0px !important;
			padding-right: 0px !important;
	    	text-align: center;

			ion-card-title
			{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-weight: 400;
				font-size: 16px;
				line-height: 1.2em;
				overflow: hidden;

				.card-title-inner,
				.card-sub-title-inner
				{
					display: flex;
					justify-content: center;
					align-items: flex-start;
					flex-shrink: 0;
					width: 100%;
					height: auto;
					max-height: 100%;
				}
				.card-sub-title-inner
				{
					font-size: 14px;
					margin-top: 8px
				}
			}
		}
		ion-card-content
		{
			padding: 0px !important;

		    $icon_width: 20px;
			.card-item
			{
				display: flex;

				.card-item-icon
				{
					display: flex;
				    justify-content: center;
				    align-items: flex-start;
					width: $icon_width;
				    font-size: 20px;
				    color: black;
				    padding-top: 1px;
				    line-height: 0px;
				}
				.card-item-text
				{
					display: block;
					width: calc(100% - #{$icon_width});
					font-size: 16px;
					padding-left: 7px;
				}
				+ .card-item
				{
					margin-top: $component_spacing;
				}
			}

		    .sessions
		    {
		    	margin: -20px;

		    	.session
		    	{
		    		padding: 20px;

		    		.session-info
		    		{
		    		}

		    		+ .session
		    		{
		    			border-top: 1px solid $line_color;
		    		}

			    	&.disabled
			    	{
			    		.session-info
			    		{
			    			opacity: 0.5;
			    		}
			    	}
		    	}
		    }
		}

		&.inline
		{
			.card-image
			{
				position: absolute;
				left: $component_spacing;
				top: $component_spacing;
				bottom: 0px;
				width: 72px;
				height: auto;
			}
			ion-card-header
			{
				min-height: 36px;
				padding-top: 0px !important;
				padding-bottom: 0px !important;
				margin-left: 72px;

				ion-card-title
				{
					justify-content: flex-start;
					text-align: left;

					.card-title-inner,
					.card-sub-title-inner
					{
						justify-content: flex-start;
					}
				}
				.card-tags
				{
					.cq-tag-wrapper
					{
						text-align: left;
						margin-top: $component_spacing;
					}
				}
			}
		}

		&:not(.inline)
		{
			*
			{
				+ ion-card-header,
				+ ion-card-content
				{
					margin-top: $component_spacing;
				}
			}

			ion-card-header
			{
				padding-top: 8px !important;
				padding-bottom: 8px !important;

				+ ion-card-content
				{
					border-top: 1px solid #{$medium_grey};
					padding-top: $component_spacing !important;
				}
			}
		}

		&.thin
		{
			margin: $component_spacing_thin;
			padding: $component_spacing_thin;

			.card-image
			{
				margin: #{$component_spacing_thin * -1} #{$component_spacing_thin * -1} 0px;
			}

			&.inline
			{
				.card-image
				{
					left: $component_spacing_thin;
					top: $component_spacing_thin;
				}
				ion-card-header
				{
					.card-tags
					{
						.cq-tag-wrapper
						{
							margin-top: $component_spacing_thin;
						}
					}
				}
			}

			&:not(.inline)
			{
				*
				{
					+ ion-card-header,
					+ ion-card-content
					{
						margin-top: $component_spacing_thin;
					}
				}
			}
		}
	}
	ion-input
	{
		&:active,
		&:focus,
		&:focus-within,
		&:target,
		&:hover,
		&:visited,
		&:focus-visible
		{
			box-shadow: none !important;
			outline: none !important;

			&:after
			{
				display: none;
			}
		}
	}
	ion-slides
	{
		&.page-slider
		{
			.swiper-wrapper
			{
				.swiper-slide
				{
					align-items: flex-start;
				}
			}
		}
	}
	ion-list
	{
		ion-item
		{
			button
			{
				margin-top: 12px;
				margin-bottom: 20px;
			}
		}
	}
	.cq-slide
	{
		width: 100vw;
		min-height: calc(100vh - #{$header_height} - 80px - 48px);
		background: $base_background_no_image;

		.cq-slide-wrapper
		{
			width: 200%;
			display: flex;
			transition: all ease 0.2s;
			background: $base_background_no_image !important;

			&.slide-1
			{
				transform: translateX(0%);
			}
			&.slide-2
			{
				transform: translateX(-50%);
			}

			.cq-slide-item
			{
				width: 50%;
				background: $base_background_no_image !important;
			}
		}
	}
	small
	{
		font-size: 12px !important;
	}

	cq_empty
	{
		width: 100%;
	}
    cq_items
    {
    	width: 100%;

	    .items-wrapper
	    {
	    	display: flex;
	    	flex-wrap: wrap;
	    	margin: $component_spacing / -2;

	    	.tile
	    	{
	    		flex-basis: 170px;
	    		flex-grow: 1;
	    		padding: $component_spacing / 2;

	    		ion-card
	    		{
	    			height: 100%;
	    			margin: 0px !important;

	    			ion-card-header
	    			{
	    				padding-top: 0px !important;
	    				padding-bottom: 0px !important;
	    				
	    				ion-card-title
	    				{
	    					height: 56px;
	    				}
	    			}
	    		}

		    	&.fake
		    	{
		    		padding: 0px !important;
		    	}
	    	}
	    	.list
	    	{
	    		width: 100%;
	    		padding: $component_spacing / 2;

	    		ion-card
	    		{
	    			margin: 0px !important;
	    		}
	    	}
	    }
    }
    cq_filter
    {
	    .cq-filter-wrapper
	    {
	    	.cq-filter-input-wrapper
	    	{
	    		font-size: 14px;
    		    border-radius: 12px;
    		    overflow: hidden;
		    	box-shadow: $neumorphism_shadow_inset;
	    		padding: 4px #{$component_spacing_thin};
	    		margin-bottom: $component_spacing;
	    		text-align: center;

	    		ion-input
	    		{
	    			input
	    			{
	    				padding-right: 0px;
	    			}
	    		}
	    	}

    		&.has-filter-multiple
    		{
	    		display: flex;

	    		.cq-filter-input-wrapper
	    		{
		    		margin-right: $component_spacing;
	    			flex-grow: 1;
    				flex-shrink: 1;
	    		}
    			.cq-filter-button-wrapper
    			{
		    		margin-bottom: $component_spacing;
				    flex-grow: 0;
				    flex-shrink: 0;
				    font-size: 18px;
    			}
    		}
	    }
    }
    .cq-filter-multiple
    {
    	.button-option-filter
    	{
		    color: #aaa;

		    &.active
		    {
		    	color: inherit !important;
		    }
    	}
    }
    .qr-scanner-button
    {
    	text-align: center;
    	margin-top: 8px;

    	.button
    	{
    		position: relative;
    		display: inline-block;
    		width: 110px !important;
		    height: 110px !important;
    		padding: 0px !important;
		    border-radius: 22% !important;

    		ion-icon
    		{
    			position: absolute;
    			left: 50%;
    			top: 50%;
    			transform: translate(-50%, -50%);

    			&.button-small
    			{
	    			font-size: 32px;
    				z-index: 1;
    			}
    			&.button-big
    			{
    				font-size: 90px;
    				z-index: 2;
    			}
    		}
    	}
    }
    .core-loading-container
    {
    	max-width: 100vw;
		background: $base_background_no_image !important;
    }
    .login-inset-field
    {
    	position: relative;
    	box-shadow: $neumorphism_shadow_inset;
    	font-size: 14px;
    	border-radius: 12px;

    	input
    	{
	    	height: 44px !important;
	    	text-align: center !important;
	    	padding: 0px 12px !important;
    	}
    	ion-button
    	{
    		position: absolute !important;
		    right: 5px !important;
		    top: 4px !important;
    	}
    }

    ion-router-outlet
    {
	    page-addon-mod-scorm-player.ion-page
	    {
	    	ion-header
	    	{
	    	}
	    	ion-content
	    	{
		    	core-iframe
		    	{
		    	}
	    	}
	    }
    }
    &.core-iframe-fullscreen
    {
    	ion-router-outlet
    	{
    		page-addon-mod-scorm-player.ion-page
    		{
    			ion-header
    			{
    				ion-toolbar
    				{
    					ion-back-button
    					{
    						display: block !important;
    					}
    					.buttons-first-slot
    					{
    						position: absolute;
    						left: 4px;
    						top: 0px;
    						flex-direction: row;
    						height: $header_height;
    					}
    					.buttons-last-slot
    					{
    						position: absolute;
    						top: 0px;
    						right: 4px;
    						flex-direction: row;
    						height: $header_height;
    					}
    				}
    			}
    		}
    	}
    }

	// remove shadows
	.header-md::after,
	ion-app.app-root.md .core-tabs-bar::after,
	.tabs-md[tabsPlacement="top"] > .tabbar::after,
	.footer-md::before,
	.tabs-md[tabsPlacement="bottom"] > .tabbar::before
	{
		display: none;
	}
	ion-app.app-root core-ion-tabs[tabsplacement="side"] .tabcontent
	{
		width: 100% !important;

		core-ion-tab
		{
			left: 0px !important;
		}
	}
	.icon
	{
		font-family: "Ionicons" !important;
	}

	.refresher-pulling .icon { color: black; }
	.refresher-refreshing svg circle { stroke: black; }
	svg circle { stroke: black; }
	.cq-dashboard
	{
		.refresher-pulling .icon { color: white; }
		.refresher-refreshing svg circle { stroke: white; }
	}
	.core-browser-copy-area
	{
		position: fixed;
		z-index: -1;
		visibility: hidden;
	}

	.core-bglogo
	{	
	    position: fixed !important;
	    left: 0px !important;
	    top: 0px !important;
	    width: 100% !important;
	    height: 100% !important;

	    .spinner
	    {
	    	display: none !important;
	    }
	}

	// tabbar
	.tabbar
	{
		display: none;
	}
	// header
	.header
	{
		transition: top ease 0.5s;

		// toolbar
		.toolbar
		{
			height: $header_height !important;
    		min-height: $header_height !important;
			padding-left: 55px;
			padding-right: 55px;

			&.original-padding
			{
				padding-right: 20px;
			}

			.toolbar-background
			{
				background-color: var(--headerBackgroundColor, $cq_purple_dark) !important;
			}
			.back-button
			{
				color: var(--headerTextColor, white) !important;
				position: absolute;
			    left: $button_drawer_offset;
			    width: auto;
			    min-width: 0px;
			    padding: 0px;
			    margin: 0px;

				.button-inner
				{
					color: var(--headerTextColor, white) !important;

					.back-button-icon
					{
						padding: 0px;
					}
				}
			}
			.bar-buttons
			{
				color: var(--headerTextColor, white) !important;

				.bar-button
				{
					color: var(--headerTextColor, white) !important;

					.button-inner
					{
						color: var(--headerTextColor, white) !important;
					}
				}
			}
			.toolbar-content
			{
				color: var(--headerTextColor, white) !important;

				.title
				{
					color: var(--headerTextColor, white) !important;

					.toolbar-title
					{
						text-align: center;
						color: var(--headerTextColor, white) !important;
					}
				}
			}
		}
	}
	.content
	{
		background-color: transparent !important;
		// background-image: var(--mobileBackgroundImage, url()) !important;
		background-position: center center;
		background-repeat: repeat;

		.fixed-content,
		.scroll-content
		{
			margin-top: $header_height !important;
			transition: all ease 0.5s;
		}
		.scroll-content
		{
			padding: $component_spacing;
		}

		&.has-tab-buttons
		{
			.fixed-content
			{
				margin-top: $header_height + $tab_height !important;
			}
			.scroll-content
			{
				margin-top: $header_height + $tab_height !important;
				padding: $component_spacing;
			}
		}
	}
	.footer
	{
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: $footer_height;
	    display: none;
		justify-content: space-around;
		align-items: center;
		background-color: var(--footerBackgroundColor, $cq_purple_dark) !important;
		z-index: 9;
		transition: bottom ease 0.5s;

		.staging-marker
		{
			position: absolute;
			top: 0px;
			width: $footer_height;
			height: $footer_height;
			border: #{$footer_height / 2} solid transparent;

			&.left
			{
				left: 0px;
			    border-left-color: lightgrey;
			    border-top-color: lightgrey;
			}
			&.right
			{
				right: 0px;
			    border-right-color: grey;
			    border-bottom-color: grey;
			}
		}

		.footer-item
		{
    		display: inline-block;
		    width: 24px;
    		font-size: 20px;
		    text-align: center;
			color: white;
		}
	}

	.card
	{
		border-radius: 12px !important;
		width: 100%;
		margin: 0px !important;

		+ .card
		{
			margin-top: $component_spacing !important;
		}

		.card-header
		{
			line-height: 1.5em;
			white-space: normal;

			&.no-line
			{
				border-bottom: 0px;
			}

			.card-title
			{
				font-size: 16px;
				font-weight: 700;
				padding-top: 4px;
				padding-bottom: 0px;
				margin: 0px;
			}
			+ .card-content
			{
				border-top: 1px solid $line_color;
				padding-top: 14px !important;
			}
		}
	}
	button,
	.button
	{
		&:not(.bar-button):not(.tab-button):not(.alert-button):not(.action-sheet-button):not(.excluded-button)
		{
		    padding: 7px 13px;
			border-radius: 12px;
			text-decoration: none !important;
			line-height: 1.5em;
			white-space: normal;
			transition: all ease 0.2s;
			background: $component_background;
			box-shadow: $neumorphism_shadow;
		    font-size: 14px;

			&.active,
			&:active
			{
				box-shadow: $neumorphism_shadow_inset;
			}
			&.button-small
			{
				padding: 4px 9px !important;
	    		border-radius: 13px !important;
			}
			&.force-flat
			{
				box-shadow: none !important;
			}
			&.load-more-button
			{
				display: flex;
			    justify-content: center;
			    align-items: center;
				width: 50px !important;
				height: 50px !important;
				padding: 0px !important;
				margin: 36px auto 0px;
				line-height: 58px !important;
				font-size: 30px;
				border-radius: 50% !important;
				background: $component_background;
				box-shadow: $neumorphism_shadow;

				ion-icon
				{
					border-radius: 50%;
					background: $gradient_background;
					color: $component_background;
				}

				&.loading
				{
					box-shadow: $neumorphism_shadow_inset;
				}
			}
		}

		&[icon-only]
		{
			.icon
			{
				padding: 0px;
			}
		}

		&.inactive
		{
		    opacity: .4;
		}

		&.disabled,
		&[disabled]
		{
			cursor: default;
		    opacity: .4;
		    pointer-events: none;
		}
	}
	ion-back-button
	{
		position: absolute;

		&.button
		{
			&:not(.bar-button):not(.tab-button):not(.alert-button):not(.action-sheet-button):not(.excluded-button)
			{
			    background: transparent !important;
		        box-shadow: none !important;
		        border-radius: 0px !important;
		        width: 44px !important;
		        height: 44px !important;
		        padding: 0px !important;
		        font-size: 18px !important;

		        &::part(native)
		        {
		        	background: transparent !important;
		        	color: white !important;
				}
			}
        }
	}

	ion-title
	{
		margin-left: 44px;
		color: white;

		*
		{
			text-align: center !important;
			font-size: 17px;
			color: white;
			opacity: 1 !important;
		}
	}
	cq_header
	{
		height: $header_height;
		overflow: hidden;
		
		ion-title
		{
			*
			{
			}
		}
	}
	cq_dashboard
	{
		cq_header
		{
			ion-title
			{
				margin-left: 0px;
				text-align: left !important;

				*
				{
					text-align: left !important;
				}
			}
		}

		ion-header
		{
			ion-toolbar
			{
	    	    &::before
	    	    {
					box-shadow: none !important;
	    	    }
	    	}
		}
	}
	ion-button
	{
		padding: 0px !important;
		margin: 0px !important;
		height: 36px !important;
		min-height: 0px !important;
		box-shadow: none !important;

		&::part(native)
		{
			padding: 0px;
		}
	}
	.checkbox
	{
		.checkbox-icon
		{
			width: 24px;
    		height: 24px;
			border-color: var(--buttonBorderColor);
			border-radius: 50% !important;
    		background-color: var(--buttonColor);

    		.checkbox-inner
    		{
    			left: 50% !important;
    			top: 50% !important;
    			border-color: var(--buttonTextColor);
    			transform: translate(-50%, -50%) rotate(45deg);
    		}
		}
	}
	ion-refresher
	{
	    display: flex;
	    justify-content: center;
	    align-items: flex-start;
	    height: 50vh;

		ion-refresher-content
		{
		    flex-direction: row;
		    align-items: flex-start;
		    padding-top: 16px;
		}
	}
	.calendar-navigation-button
	{
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
		min-height: 0px;
	    height: 40px;
	    margin: 0px !important;

	    + .calendar-navigation-button
	    {
	    	margin-left: $component_spacing !important;
	    }
	}

	// ============================================================================================= cyberquote component
	.cq-empty
	{
	    text-align: center;
	    padding: 40px 0px;
	    font-size: 12px;
	    color: #989898;
	}

	$photo_size: 100px;
	#profile-top
	{
		position: relative;
		padding-bottom: $photo_size / 2 + 10px;

		#background
		{
			height: 90px;
			background: $base_background;
		}
		#content
		{
			position: absolute;
		    left: $component_spacing;
		    right: $component_spacing;
		    bottom: 0px;

		    #left-content
		    {
		    	width: $photo_size + 10px * 2;
		    	text-align: center;
		    	float: left;

		    	core-user-avatar
		    	{
		    		width: $photo_size + 10px * 2;
		    		height: $photo_size + 10px * 2;
		    		border: 10px solid white;
		    		border-radius: 50%;
		    		box-shadow: $normal_shadow;

		    		img
		    		{
		    			width: #{$photo_size} !important;
		    			height: #{$photo_size} !important;
		    			max-width: none;
		    			max-height: none;
		    			margin: 0px !important;
		    		}
		    	}
		    }
		    #right-content
		    {
		    	position: relative;
		    	padding-top: 60px;
		    	padding-left: $component_spacing;
		    	margin-left: $photo_size + 10px * 2;

		    	h2
		    	{
		    		position: absolute;
		    		bottom: calc(100% - 48px);
		    		margin: 0px !important;
		    	}
		    }
		}
	}

	// this is used by more than one component
	.drawer-button
	{
		position: relative;
	    display: flex;
	    justify-content: center;
	    align-items: center;
		width: 44px;
		height: 44px;
		font-size: 25px;
	    color: white;

	    ion-icon
	    {
		    color: white;
	    }

	    .badge
	    {
	    	position: absolute;
	    	top: 4px;
	    	right: 0px;
	    	pointer-events: none;
	    }
	}
	#drawer-menu
	{
	    position: absolute;
	    left: -100%;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    z-index: 10;
	    color: white;
	    background: rgba(0, 0, 0, 0.95);
	    transition: all ease 0.25s;

	    &.open
	    {
	        left: 0%;
	    }

	    $drawer_menu_header_padding_top: 23px;
	    $drawer_menu_header_padding_bottom: 27px;
	    $drawer_menu_header_profile_image_size: 100px;
	    $drawer_menu_header_height: $drawer_menu_header_padding_top + $drawer_menu_header_padding_bottom + $drawer_menu_header_profile_image_size;
	    $drawer_menu_footer_height: 40px;

	    .drawer-menu-header
	    {
	        position: relative;
	        height: $drawer_menu_header_height;
	    	padding: #{$drawer_menu_header_padding_top} 23px #{$drawer_menu_header_padding_bottom};

	    	.drawer-profile-image
	    	{
	    		border: 2px solid white;
	    		border-radius: 50%;
	    		width: $drawer_menu_header_profile_image_size;
	    		height: $drawer_menu_header_profile_image_size;
	    		background-size: cover;
	    		background-position: center center;
	    	}
	    }
	    .drawer-list
	    {
	    	height: calc(100% - #{$drawer_menu_header_height} - #{$drawer_menu_footer_height});
			display: none;
			justify-content: center;
			flex-direction: column;

	        .drawer-item
	        {
	            position: relative;
	            height: $button_menu_height;
	            padding-left: $button_menu_left;
	            display: flex;
	            align-items: center;
	            flex: 1 1 $button_menu_height;

	            .icon
	            {
	                position: absolute;
	                left: $button_menu_left / 2;
	                top: 50%;
	                transform: translate(-50%, -50%);
	                font-size: 24px;
	            }
	        }
	        .drawer-separator
	        {
	        	border-top: 1px solid #4f4f4f;
        	    margin: 10px 22px;
	        }

	        @media (orientation: portrait)
	        {
	        	&.portrait
	        	{
	        		display: flex;
	        	}
	        }
	        @media (orientation: landscape)
	        {
	        	&.landscape
	        	{
	        		display: flex;
	        		flex-direction: row;
	        	}
	        }
	    }
	    .drawer-list-inner
	    {
	    	display: flex;
    	    justify-content: center;
    	    flex-direction: column;
    	    width: 50%;
	    }
	    .drawer-menu-footer
	    {
	    	height: $drawer_menu_footer_height;
	    	font-size: 12px;
	    	font-weight: 400;
	    	padding-top: 10px;
	    }
	}

    .dot
    {
    	position: relative;
        height: 224px;
        width: 224px;
        background: $gradient_background;
        border-radius: 50%;
        display: inline-block;
        font-size: 16px;
        margin: 0px;
        font-weight: 700;
        text-align: center;
        color: white;
        overflow: hidden;
        border: 20px solid $base_background_no_image;
        box-shadow: $neumorphism_shadow;

        &.plain
        {
        	background: #c0c0c0 !important;
        }
        &.small
        {
        	display: flex;
        	justify-content: center;
        	flex-direction: column;
            height: 60px;
            width: 60px;
            line-height: 1.2em;
            font-size: 15px;
        }

		.time-inside-dot
		{
			display: flex;
			justify-content: center;
			height: 100%;
			padding: 0px 16%;

			.part
			{
				flex: 1 0 50%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				margin: 0px 3px;

				.number
				{
					color: white;
					font-size: 38px;
					line-height: 1em;
					letter-spacing: 0.06em;
					margin: 6px 0px 1px;
				}
				.type
				{
					color: white;
					margin-top: 3px;
				}
			}
		}
    }
	.round-wrapper
	{
		position: fixed;
		left: 50%;
		top: calc(250px + #{$header_height});
		width: 300%;
		transform: translate(-50%, -100%);
		border-radius: 50%;
		background: $gradient_background;
		z-index: 1;

		.round-background
		{
			padding-top: 100%;
		}
	}

	$dashboard_box_height: 264px;
	.dashboard-box
	{
		position: absolute;
	    left: 50%;
	    bottom: calc(100% - #{$dashboard_box_height});
	    transform: translateX(-50%);
	    width: 200%;
	    border-radius: 50%;
	    display: inline-block;
	    font-size: 16px;
	    margin: 0px;
	    font-weight: 700;
	    text-align: center;
	    color: white;
	    overflow: hidden;
	    border: 20px solid $base_background_no_image;
	    box-shadow: $neumorphism_shadow;
	    will-change: transform;

	    .db-sizer
	    {
	    	padding-top: 100%;
	    }
	    .db-wrapper
	    {
	    	position: absolute;
	        left: 50%;
	        width: 100vw;
	        transform: translateX(-50%);
	    	top: 0px;
	    	bottom: 0px;
	    	display: flex;
    	    flex-direction: column;
    	    justify-content: flex-end;
    	    padding-bottom: 60px;
		    background: $gradient_background;

			.db-title
			{
				font-weight: 900;
				color: white;
				text-align: center;
				margin: 0px 0px 44px;
			}
			.db-body
			{
				display: flex;
				justify-content: center;
				align-items: center;

				.db-value
				{
				    margin: 0px 0px 10px;
				    font-size: 48px;
				    font-weight: 700;
					color: white;
				    line-height: 1em;
				}
				.db-label
				{
				    font-size: 16px;
					color: white;
				}
			}
	    }
	}
	.dashboard-box-fake
	{
		height: $dashboard_box_height;
	}
	.dashboard-content
	{
		$item_distance: 20px;

		.item
		{
			position: relative;
			border-radius: 7px;
			transition: all ease 0.2s;

			.item-link
			{
				.item-title
				{
					line-height: 1.5em;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
			+ .item
			{
				padding-top: 4px;
				margin-top: $item_distance * 2 + 1px;

				&::before
				{
					content: "";
					position: absolute;
					left: 0px;
					width: 100%;
					top: $item_distance * -1;
					border-top: 1px solid $line_color;
				}
			}

			&:last-child
			{
				border-bottom: 0px;
			}
		}
	}
	.will-start-in-information
	{
	    text-align: center;
	    font-size: 16px;
	    font-weight: 700;
	    line-height: 1em;

	    .start-number
	    {
	    	display: inline-block;
	        font-size: 20px;

	        &:not(:first-child)
	        {
			    margin-left: 1px;
			}
	    }

        &.big
        {
		    .start-number
		    {
		        font-size: 32px;

		        &:not(:first-child)
		        {
				    margin-left: 3px;
				}
		    }
        }

	    &.time-urgency-1
	   	{
		    .start-number
		    {
		        color: $red;
		    }
		}
	    &.time-urgency-2
	   	{
		    .start-number
		    {
		        color: $orange;
		    }
		}
	    &.time-urgency-3
	   	{
		    .start-number
		    {
		        color: $yellow;
		    }
		}
	    &.time-urgency-4
	   	{
		    .start-number
		    {
		        color: $green;
		    }
		}
	    &.time-urgency-5
	   	{
		    .start-number
		    {
		        color: $blue;
		    }
		}
	}

	.additional-content-hr
	{
		border-color: #d5d5d5 !important;
		width: calc(100% - 40px) !important;
		margin: 20px auto 20px !important;
	}
	.additional-content
	{
		font-size: 14px;
        overflow: hidden;
        border: 0px;

        &.with-pb
        {
            padding-bottom: 15px;
        }
        &.with-px
        {
            padding-left: 15px;
            padding-right: 15px;
        }
        &.with-pa
        {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }

        h1, h2, h3, h4, h5, h6
        {
            text-align: center;
            font-weight: 700 !important;
            font-family: "mainfont" !important;
            margin: 0px 0px 15px 0px !important;
            padding: 0px;
            line-height: inherit;
        }

		.additional-content-header
		{
			margin-bottom: 10px !important;
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px !important;
		}
		.additional-content-note
		{
			font-size: 13px;
		}
	}

	.cq-profile
	{
		position: relative;
		margin: 0px 0px 40px;
		color: white;

		.item-avatar-center
		{
			> .avatar
			{
				width: 80px;
				height: 80px;
			    border: 3px solid white;
			    border-radius: 50%;
			    margin: 0px auto;
			    background-color: white;
				background-size: cover;
			    background-position: center center;
			}

			.icon
			{
				position: absolute;
			    right: 50%;
			    bottom: 50%;
			    transform: translate(40px, calc(40px - 15px));
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    width: 25px;
			    height: 25px;
			    background: lightgrey;
			    border-radius: 50%;
			}

			.profile-title
			{
				font-size: 17px;
				color: white;
				margin: 10px 0px 0px;
			}
		}
	}

	.broken-down-hours
	{
		display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
		padding-top: 15px;

		.bdh-item
		{
			flex: 1 0 130px;
			margin-top: 15px;

			.bdh-title
			{
				font-size: 14px;
				text-align: center;
    			font-weight: 700;
				margin-bottom: 12px;
				line-height: 1.4em;
			}
			.bdh-content
			{
				display: flex;
				justify-content: center;
				margin-top: 4px;

				.bdh-cell
				{
					flex: 0 1 35px;
					text-align: center;
					margin: 0px 4px;

					.number
					{
						color: var(--headerBackgroundColor, $cq_purple_dark);
						font-size: 28px;
						line-height: 1em;
						font-weight: 700;
						letter-spacing: 0.06em;
					}
					.type
					{
						font-size: 14px;
						margin-top: 2px;
					}
				}
			}
		}
	}

	$csl_left_width: 60px;
	$csl_right_width: 20px;

	.card-single-list
	{
		position: relative;

		.csl-left
		{
			float: left;
			width: $csl_left_width;

			&.thumbnail,
			&.letter
			{
				background-size: cover;
				position: absolute;
			    left: -16px;
			    top: -13px;
			    bottom: -17px;
			    width: calc(60px + 13px);
			}
			&.letter
			{
				display: flex;
				justify-content: center;
				align-items: center;
				background: $medium_grey;
				color: white;
			}
		}
		.csl-right
		{
			float: right;
			width: $csl_right_width;
		}
		.csl-center
		{
			padding-top: 5px;
		}

		&:after
		{
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
		}
		&.has-left
		{
			.csl-center
			{
				margin-left: $csl_left_width + 15px;
			}
		}
		&.has-right
		{
			.csl-center
			{
				margin-right: $csl_right_width + 15px;
			}
		}
	}

    .all-time-line
    {
        position: fixed;
        left: 34px;
        top: 30vh;
        bottom: 0px;
        width: 4px;
        min-height: calc(100vh - 219px);
        background: var(--footerBackgroundColor);
        z-index: 1;
    }
    .year-box-wrapper
    {
        position: relative;
        margin-top: $component_spacing;
        z-index: 2;

	    .year-box
	    {
	        padding: 5px 15px 5px 15px;
	        background-color: var(--buttonColor);
	        font-family: "secondfont";
	        font-size: 16px;
	        font-weight: bold;
	        border-radius: 4px;
	        display: inline-block;
	        color: var(--buttonTextColor);
	    }
	    .course-box
	    {
	        position: relative;
	        padding: 14px 0px 0px 40px;
	    }
	    .course-line
	    {
	        position: absolute;
	        left: 20px;
	        top: 0px;
	        bottom: -100px;
	        width: 4px;
	        background: var(--footerBackgroundColor);
	        z-index: 1;
	    }
	    .course-dot
	    {
	        position: absolute;
	        left: 15px;
	        top: 38px;
	        border: 4px solid var(--buttonColor);
	        width: 14px;
	        height: 14px;
	        border-radius: 50%;
	        background: #e9e9e9;
	        z-index: 2;
	    }
    }
    .cq-tag-wrapper
    {
    	margin-left: -4px;
    	margin-right: -4px;

	    .cq-tag
	    {
	    	display: inline-block;
		    font-size: 12px;
		    color: white;
	    	background: var(--headerBackgroundColor, $cq_purple_dark);
		    border-radius: 7px;
		    padding: 4px 8px 4px;
	    	margin: 4px;
	    	line-height: 18px;

	    	@include elevation2;

			*
			{
				color: white;
			}

		    &.cq { background-color: $cq_purple }
		    &.cqd { background-color: $cq_purple_dark }
			&.red { background-color: $red }
			&.green { background-color: $green }
			&.blue { background-color: $blue }
			&.yellow { background-color: $yellow }
			&.orange { background-color: $orange }
			&.purple { background-color: $purple }
			&.grey { background-color: $medium_grey }
			&.light-grey { background-color: $light_grey }
			&.medium-grey { background-color: $medium_grey }
			&.dark-grey { background-color: $dark_grey }
			&.white { background-color: white }
			&.black { background-color: black }

			&.light-grey,
			&.white
			{
				color: black;

				*
				{
					color: black;
				}
			}
	    }
    }

    .tab-buttons
    {
    	position: fixed;
    	left: 0px;
    	top: $header_height;
    	right: 0px;
    	height: $tab_height;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;
    	border-bottom: 1px solid $light_grey;
	    background: white;
	    z-index: 4;

    	.tab-button
    	{
    		width: 100%;
    		height: 100%;
    		padding: 0px;
    		transition: all ease 0.3s;

    		&:not(.active)
    		{
    			color: $medium_grey;
    		}
    	}
    }
    .tab-contents
    {
	    .tab-content
	    {
	    	display: none !important;
	    	padding-bottom: 5px;
    		overflow: hidden;

	    	&.active
	    	{
	    		display: block !important;
	    	}
	    }
    }

    .full-screen-icon
    {
        position: fixed;
        right: 6px;
        bottom: 40px;
        width: 35px;
        height: 35px;
        opacity: 0.7;
        z-index: 999;
    }

	// ============================================================================================= not logged in pages
	&.logged-in
	{
		/* *a/
		.drawer-button
		{
			&.normal,
			&.notifications
			{
				display: block;
			}
		}
		/* */
		.content
		{
			.fixed-content,
			.scroll-content
			{
				margin-bottom: $footer_height !important;
			}
		}
		.footer
		{
			display: flex !important;
		}
	}

	// ============================================================================================= full screen
	&.full-screen
	{
		.header
		{
			top: -#{ $header_height };
		}
		.content
		{
			.fixed-content,
			.scroll-content
			{
				margin-top: 0px !important;
				margin-bottom: 0px !important;
			}
			.scroll-content
			{
				padding: 0px !important;
			}
		}
		.footer
		{
			bottom: -#{ $header_height };
		}

		&.logged-in
		{
			.content
			{
				.fixed-content,
				.scroll-content
				{
					margin-top: 0px !important;
					margin-bottom: 0px !important;
				}
			}			
		}
	}
}
