<core-loading [hideUntil]="loaded">
    <core-empty-box *ngIf="!filteredEvents || !filteredEvents.length" icon="fas-calendar" [message]="'addon.calendar.noevents' | translate">
    </core-empty-box>

    <div *ngIf="filteredEvents && filteredEvents.length" class="cq-events pl-cs pr-cs">
        <button *ngFor="let event of filteredEvents" (click)="eventClicked(event)" class="pl-cs pt-cs pr-cs pb-cs mb-cs" style="width: 100%">
            <ion-label style="display: flex; justify-content: center; flex-direction: column; text-align: left;">
                <core-format-text style="font-size: 16px; line-height: 1.5em; font-weight: 700;" [text]="event.name" [contextLevel]="event.contextLevel" [contextInstanceId]="event.contextInstanceId"></core-format-text>
                <p style="font-size: 16px; line-height: 1.5em" [innerHTML]="event.formattedtime"></p>
            </ion-label>

            <ion-note *ngIf="event.offline && !event.deleted" slot="end">
                <ion-icon name="fas-clock" aria-hidden="true"></ion-icon>
                <span class="ion-text-wrap">{{ 'core.notsent' | translate }}</span>
            </ion-note>
            <ion-note *ngIf="event.deleted" slot="end">
                <ion-icon name="fas-trash" aria-hidden="true"></ion-icon>
                <span class="ion-text-wrap">{{ 'core.deletedoffline' | translate }}</span>
            </ion-note>
        </button>
    </div>
</core-loading>
