<ion-header>
    <cq_header [title]="'Available Courses'" [displayMenu]="true" [displayNotification]="true" [displayProgress]="pageIsLoading" (onToggleDrawer)="toggleDrawer()" (onGoToNotificationsList)="goToNotificationsList()"></cq_header>
</ion-header>

<ion-content class="cq_available_courses">
    <ion-refresher slot="fixed" [disabled]="!pageStatus" (ionRefresh)="pageRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="pageStatus">
        <div class="base-background">

        <div class="text-center mt-36 ml-cs mr-cs d-flex justify-between">
            <button *ngFor="let media of pageData.medias" class="{{ media == pageData.media ? 'active' : '' }}" class="" (click)="selectMedia(media)" style="width: calc(50% - 12px)">
                <span *ngIf="media == 'online'">E-Learning</span>
                <span *ngIf="media == 'offline'">Classroom Training</span>
            </button>
        </div>

        <ion-slides #pageSlider [options]="pageData.sliderOptions" (ionSlideDidChange)="pageSliderChange()">
            <ion-slide *ngFor="let media of pageData.medias" class="mt-36 mb-36">
                <div class="text-left ml-20 mr-20" style="width: 100%">
                    <cq_filter [filterMultiple]="pageData[media].filterMultiple" [includeEmptyOptionForAll]="true" (onFilterChange)="onFilterChange($event)"></cq_filter>
                    <cq_tile [items]="pageData[media].courses" (onSelectItem)="openCourse($event)"></cq_tile>
                    <core-infinite-loading *ngIf="isAvailable(pageData[media].courses)" [enabled]="!pageData[media].reachedEndOfList" (action)="pageLoadMore($event)" [error]="loadMoreError"></core-infinite-loading>
                </div>
            </ion-slide>
        </ion-slides>

        </div>
    </core-loading>
</ion-content>
