<ion-header [collapsible]="tabsComponent?.selectedIndex == 0 || tabsComponent?.selectedIndex === undefined">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <h1>
                <core-format-text [text]="title" contextLevel="course" [contextInstanceId]="course?.id"></core-format-text>
            </h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="loaded">
        <ion-card>
            <div class="card-image">
                <div *ngIf="course.courseImage" class="card-image-frame" [ngStyle]="{'background-image': 'url(' + course.courseImage + ')'}"></div>
                <span *ngIf="!course.courseImage" class="card-image-letter">{{ getLetter(course.fullname) }}</span>

                <div style="position: absolute; left: 4px; top: 4px; right: 4px;">
                    <cq_tags [item]="course"></cq_tags>
                </div>
            </div>

            <ion-card-header>
                <ion-card-title class="text-center">{{ course.fullname }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ng-container *ngFor="let info of course.basicInformation; let i = index">
                    <p class="{{ i ? 'mt-12' : '' }}"><b>{{ info.text }}</b></p>
                    <p class="no-break" [innerHTML]="info.value || '-'"></p>
                </ng-container>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="course.isUserEnrolled && grades.onCourse.length > 0">
            <ion-card-header>
                <ion-card-title class="text-center">Grades</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ng-container *ngFor="let grade of grades.onCourse; let i = index">
                    <p class="{{ i ? 'mt-12' : '' }}"><b>{{ grade.name }}</b></p>
                    <p class="no-break" [innerHTML]="grade.value"></p>
                </ng-container>
            </ion-card-content>
        </ion-card>

        <div *ngIf="!course.hasEnded" class="pl-cs pr-cs mt-cst">
            <ng-container *ngIf="!course.isUserEnrolled">
                <button *ngIf="course.isSelfEnrol" (click)="takeCourse()" class="button button-small {{ cqLoading ? 'active' : '' }}" style="width: 100%;">
                    <span *ngIf="!cqLoading"><b>Enrol</b></span>
                    <ion-spinner *ngIf="cqLoading"></ion-spinner>
                </button>
                <div *ngIf="!course.isSelfEnrol" class="no-break text-center pl-12 pt-12 pr-12 pb-12 background-red" style="border-radius: 12px;">
                    This course is not open for self enrolment
                </div>
            </ng-container>

            <ng-container *ngIf="course.isUserEnrolled">
                <button *ngIf="course.isSelfEnrol" (click)="leaveCourse()" class="button button-small {{ cqLoading ? 'active' : '' }}" style="width: 100%;">
                    <span *ngIf="!cqLoading"><b class="color-red">Withdraw</b></span>
                    <ion-spinner *ngIf="cqLoading"></ion-spinner>
                </button>
                <div *ngIf="!course.isSelfEnrol" class="no-break text-center pl-12 pt-12 pr-12 pb-12 background-red color-white" style="border-radius: 12px;">
                    This course is not open for self withdrawal
                </div>
            </ng-container>
        </div>

        <ng-container *ngFor="let section of sections; let i = index">
            <div *ngIf="section.uservisible && section.visible == 1" class="main-font text-left" class="pl-20 pr-20 mt-28 text-left" style="font-size: 16px;">
                <small class="d-block mb-4">Section {{ i + 1 }}</small>
                {{ section.name }}

                <!-- 
                <div class="cq-tag-wrapper" style="float: right; margin-top: -8px;">
                    <div class="cq-tag {{ session.userAttendance == 'accredited' ? 'green' : '' }}">
                        <ion-icon *ngIf="session.userAttendance == 'accredited'" name="checkmark-circle" style="vertical-align: text-bottom; padding-right: 2px;"></ion-icon>
                        {{ session.userAttendanceText }}
                    </div>
                </div>
                 -->

                <div class="gradient-background" style="height: 4px;border-radius: 0px 2px 2px 0px;margin-top: 12px;margin-left: -20px;"></div>
            </div>

            <ion-card>
                <ion-card-content>
                    <div class="sessions">
                        <ng-container *ngFor="let module of section.modules">

                            <div *ngIf="module.uservisible && module.visible == 1" class="session {{ getModuleClass(module) }}" (click)="moduleClicked($event, section, module)">
                                <div class="session-info">
                                    <div class="card-item">
                                        <div class="card-item-icon">
                                            <img src="{{ module.modicon }}">
                                        </div>
                                        <div class="card-item-text">
                                            <ng-container *ngIf="course.isUserEnrolled && module.completion != 0">
                                                <ion-icon *ngIf="module.completiondata && module.completiondata.state" name="checkbox-outline" style="float: right; font-size: 30px;"></ion-icon>
                                                <ion-icon *ngIf="!(module.completiondata && module.completiondata.state)" name="square-outline" style="float: right; font-size: 30px;"></ion-icon>
                                            </ng-container>

                                            <div>
                                                {{ module.name }}
                                                <div class="cq-tag-wrapper mt-4">
                                                    <span class="cq-tag dark-grey">{{ module.modplural }}</span>
                                                    <span *ngIf="course.isUserEnrolled && grades.onModule[module.id]" class="cq-tag dark-grey">Grade {{ grades.onModule[module.id] }}</span>
                                                </div>

                                                <div *ngIf="isModuleDisabled(module)" class="session-bottom mt-12" [innerHTML]="module.availabilityinfo" style="font-size: 14px"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ng-container>
                    </div>
                </ion-card-content>
            </ion-card>
        </ng-container>
    </core-loading>
</ion-content>
