<ion-header>
    <cq_header [title]="pageData.title" [displayMenu]="true" [displayNotification]="true" [displayUserMenu]="true"></cq_header>
</ion-header>

<ion-content class="cq_dashboard">
    <ion-refresher slot="fixed" [disabled]="!pageStatus" (ionRefresh)="pageRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="pageStatus">
        <div class="base-background pb-5">

        <div class="dashboard-box">
            <div class="db-sizer"></div>
            <div class="db-wrapper">
                <h4 class="db-title">
                    {{ 'core.cqTotalTrainingHours' | translate }}
                </h4>
                <div class="db-body">
                    <div class="text-center mr-24">
                        <div class="db-value second-font">{{ pageData.dashHours }}</div>
                        <div class="db-label second-font">{{ 'core.cqLongHoursSymbol' | translate }}</div>
                    </div>
                    <div class="text-center">
                        <div class="db-value second-font">{{ pageData.dashMinutes }}</div>
                        <div class="db-label second-font">{{ 'core.cqLongMinutesSymbol' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-box-fake"></div>
        
        <div class="pl-24 pt-40 pr-24 pb-20" style="display: flex; justify-content: space-between;">
            <div style="font-weight: 900;">
                {{ 'core.cqUpcomingRegisteredCourses' | translate }}
            </div>
            <div style="opacity: 0.8;" (click)="goToMyCourses()">
                View All
            </div>
        </div>

        <ion-card class="mt-0">
            <ion-card-content>
                <div *ngIf="isAvailable(pageData.myCourses)" class="dashboard-content">
                    <div class="item" *ngFor="let course of pageData.myCourses; let i = index">

                        <div class="item-link" (click)="openCourse(course)">
                            <h2 class="item-title text-center">
                                <span *ngIf="course.media == 'online'">{{course.fullnameTrimmed || course.fullname}}</span>
                                <span *ngIf="course.media == 'offline'">{{course.name}}<br />Batch - {{course.startDateText}}</span>
                            </h2>

                            <div class="pt-4 pb-8 mt-cs">
                                <cq_will_start_in *ngIf="course.willStartIn > 0" [unixtimestamp]="course.willStartIn" [animation]="true" (onZero)="timeHasCome($event, i)"></cq_will_start_in>
                                <div *ngIf="course.willStartIn == 0" class="will-start-in-information time-urgency-1 second-font">
                                    Starting
                                </div>
                                <div *ngIf="course.willStartIn < 0" class="will-start-in-information second-font">
                                    Now Ongoing
                                </div>
                            </div>

                            <div class="mt-cs text-center">
                                <cq_tags [item]="course" [hideList]="'courseType, categoryName'"></cq_tags>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="!isAvailable(pageData.myCourses)" class="cq-empty">No Course</div>
            </ion-card-content>
        </ion-card>

        <div *ngFor="let media of pageData.mobileCourseMedia">
            <div *ngIf="isAvailable(pageData[media])">
                <div class="pl-24 pt-24 pr-24 pb-20" style="position: relative; font-weight: 900;">
                    <span *ngIf="media == 'online'">E-Learning You May Like</span>
                    <span *ngIf="media == 'offline'">Classroom Training You May Like</span>
                    <ion-icon class="this-is-swiping" name="chevron-forward" style="position: absolute; top: 38px; right: 24px; font-size: 22px;"></ion-icon>
                </div>
                <ion-slides class="pl-24 pr-48" [options]="pageData.sliderOptions">
                    <ion-slide *ngFor="let course of pageData[media]" class="mb-24">
                       <cq_items [items]="course" (onSelectItem)="openCourse($event)"></cq_items>
                    </ion-slide>

                    <ion-slide class="mb-24">
                        <ion-card class="thin mt-0 mb-0 ml-0 mr-0" style="width: 100%;" (click)="goToAvailableCourses(media)">
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 206px;">
                                More Courses
                                <ion-icon name="arrow-forward" style="font-size: 20px; margin-top: 8px;"></ion-icon>
                            </div>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>

        <div *ngIf="pageData.hasAdditionalContents" class="pt-cs"></div>
        <ion-card *ngFor="let additionalContent of pageData.additionalContents" class="mt-cs">
            <ion-card-content>
                <div [innerHtml]="additionalContent.mobileContent"></div>
            </ion-card-content>
        </ion-card>

        </div>
    </core-loading>
</ion-content>
