<ion-header>
    <cq_header [title]="'Hello ' + userFullName" [displayMenu]="true" [displayNotification]="true" (onToggleDrawer)="toggleDrawer()" (onGoToNotificationsList)="goToNotificationsList()"></cq_header>
</ion-header>

<ion-content class="cq_dashboard">
    <ion-refresher slot="fixed" [disabled]="!pageStatus" (ionRefresh)="pageRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="pageStatus">
        <!-- 
        <div class="fake-header-replacement" style="height: 48px">&nbsp;</div>

        <div class="round-wrapper">
            <div class="round-background"></div>
        </div>
         -->

        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-center">{{ 'core.cqTotalTrainingHours' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div class="dashboard-box" style="display: flex;justify-content: center;align-items: center;">
                    <div class="text-center mr-24">
                        <div class="hm-value second-font">{{ pageData.dashHours }}</div>
                        <div class="hm-label second-font">{{ 'core.cqLongHoursSymbol' | translate }}</div>
                    </div>
                    <div class="text-center">
                        <div class="hm-value second-font">{{ pageData.dashMinutes }}</div>
                        <div class="hm-label second-font">{{ 'core.cqLongMinutesSymbol' | translate }}</div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
        
        <div class="ml-24 mt-40 mr-24 mb-20" style="display: flex; justify-content: space-between;">
            <div style="font-weight: 900;">
                {{ 'core.cqUpcomingRegisteredCourses' | translate }}
            </div>
            <div style="opacity: 0.8;">
                View All
            </div>
        </div>

        <ion-card>
            <ion-card-content>
                <div *ngIf="isAvailable(pageData.courses)" class="dashboard-content">
                    <div class="item" *ngFor="let course of pageData.courses">

                        <div class="item-link" (click)="openCourse(course)">
                            <div *ngIf="course.media == 'online'">
                                <h3 class="item-title">{{course.fullname}}</h3>
                                <div class="cq-tag-wrapper">
                                    <span class="cq-tag dark-grey">E-Learning</span>
                                    <span *ngIf="pageData.courseTypes.object[course.course_type]" class="cq-tag">{{ pageData.courseTypes.object[course.course_type].name }}</span>
                                </div>
                            </div>

                            <div *ngIf="course.media == 'offline'">
                                <h3 class="item-title">{{course.name}}<br />Batch - {{course.start_date_text}}</h3>
                                <div class="cq-tag-wrapper">
                                    <span class="cq-tag dark-grey">Classroom Training</span>
                                    <span *ngIf="pageData.courseTypes.object[course.type]" class="cq-tag">{{ pageData.courseTypes.object[course.type].name }}</span>
                                </div>

                            </div>

                            <cq-will-start-in *ngIf="course.will_start_in > 0" [unixtimestamp]="course.will_start_in"></cq-will-start-in>
                            <div *ngIf="course.will_start_in == 0" class="will-start-in-information time-urgency-1 second-font pt-8">
                                <span class="start-number">Starting</span>
                            </div>
                            <div *ngIf="course.will_start_in < 0" class="will-start-in-information second-font pt-8">
                                <span class="start-number">Ongoing</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="!isAvailable(pageData.courses)" class="cq-empty">{{ 'core.cqNoData' | translate }}</div>
            </ion-card-content>
        </ion-card>

        <div *ngIf="pageData.additionalContent">
            <!-- <hr class="additional-content-hr" /> -->
            <br />
            <div [innerHtml]="pageData.additionalContent"></div>
        </div>

    </core-loading>
</ion-content>
