<ion-header>
    <cq_header [displayMenu]="true" [displayNotification]="true" (onToggleDrawer)="toggleDrawer()" (onGoToNotificationsList)="goToNotificationsList()"></cq_header>
</ion-header>

<ion-content class="cq_dashboard">
    <ion-refresher slot="fixed" [disabled]="!pageStatus" (ionRefresh)="pageRefresh($event.target)">
        <div class="dashboard-colorizer"></div>
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="pageStatus">
        <div class="base-background">

        <!-- 
        <div class="fake-header-replacement" style="height: 48px">&nbsp;</div>

        <div class="round-wrapper">
            <div class="round-background"></div>
        </div>
         -->

        <div class="dashboard-box">
            <div class="db-sizer"></div>
            <div class="db-wrapper">
                <h4 class="db-title">
                    {{ 'core.cqTotalTrainingHours' | translate }}
                </h4>
                <div class="db-body">
                    <div class="text-center mr-24">
                        <div class="db-value second-font">{{ pageData.dashHours }}</div>
                        <div class="db-label second-font">{{ 'core.cqLongHoursSymbol' | translate }}</div>
                    </div>
                    <div class="text-center">
                        <div class="db-value second-font">{{ pageData.dashMinutes }}</div>
                        <div class="db-label second-font">{{ 'core.cqLongMinutesSymbol' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-box-fake"></div>
        
        <div class="pl-24 pt-40 pr-24 pb-20" style="display: flex; justify-content: space-between;">
            <div style="font-weight: 900;">
                {{ 'core.cqUpcomingRegisteredCourses' | translate }}
            </div>
            <div style="opacity: 0.8;">
                View All
            </div>
        </div>

        <ion-card>
            <ion-card-content>
                <div *ngIf="isAvailable(pageData.myCourses)" class="dashboard-content">
                    <div class="item" *ngFor="let course of pageData.myCourses">

                        <div class="item-link" (click)="openCourse(course)">
                            <div *ngIf="course.media == 'online'">
                                <h3 class="item-title">{{course.fullname_trimmed || course.fullname}}</h3>
                                <div class="cq-tag-wrapper">
                                    <span class="cq-tag dark-grey">E-Learning</span>
                                    <span *ngIf="course.courseTypeText" class="cq-tag">{{ course.courseTypeText }}</span>
                                </div>
                            </div>

                            <div *ngIf="course.media == 'offline'">
                                <h3 class="item-title">{{course.name}}<br />Batch - {{course.start_date_text}}</h3>
                                <div class="cq-tag-wrapper">
                                    <span class="cq-tag dark-grey">Classroom Training</span>
                                    <span *ngIf="course.typeText" class="cq-tag">{{ course.typeText }}</span>
                                </div>
                            </div>

                            <cq-will-start-in *ngIf="course.will_start_in > 0" [unixtimestamp]="course.will_start_in"></cq-will-start-in>
                            <div *ngIf="course.will_start_in == 0" class="will-start-in-information time-urgency-1 second-font pt-8">
                                <span class="start-number">Starting</span>
                            </div>
                            <div *ngIf="course.will_start_in < 0" class="will-start-in-information second-font pt-8">
                                <span class="start-number">Ongoing</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="!isAvailable(pageData.myCourses)" class="cq-empty">{{ 'core.cqNoData' | translate }}</div>
            </ion-card-content>
        </ion-card>

        <div *ngFor="let mediaList of ['eLearningList', 'classroomTrainingList']">
            <div *ngIf="isAvailable(pageData[mediaList])">
                <div class="pl-24 pt-40 pr-24 pb-20" style="font-weight: 900;">
                    <span *ngIf="mediaList == 'eLearningList'">E-Learning You May Like</span>
                    <span *ngIf="mediaList == 'classroomTrainingList'">Classroom Training You May Like</span>
                </div>
                <ion-slides class="pl-24 pr-24" [options]="pageData.slideOptions">
                    <ion-slide *ngFor="let course of pageData[mediaList]" class="mb-24">
                       <cq_tile [items]="course" (onSelectItem)="openCourse($event)"></cq_tile>
                    </ion-slide>

                    <ion-slide class="mb-24">
                        <ion-card class="thin mt-0 mb-0 ml-0 mr-0" style="width: 100%;" (click)="goToAvailableCourses()">
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 206px;">
                                More Courses
                                <ion-icon name="arrow-forward" style="font-size: 20px; margin-top: 8px;"></ion-icon>
                            </div>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>

        <div *ngIf="pageData.additionalContents">
            <!-- <hr class="additional-content-hr" /> -->

            <div *ngFor="let additionalContent of pageData.additionalContents">
                <br />
                <div [innerHtml]="additionalContent.mobile_content"></div>
            </div>
        </div>

        </div>
    </core-loading>
</ion-content>
