<ion-header>
    <cq_header [title]="pageData.announcement.subject" [displayMenu]="false" [displayNotification]="false" [displayUserMenu]="false" [displayProgress]="pageIsLoading"></cq_header>
</ion-header>

<ion-content class="cq_announcement">
    <ion-refresher slot="fixed" [disabled]="!pageStatus" (ionRefresh)="pageRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="pageStatus">
        <div class="base-background pb-5">

        <div *ngIf="isAvailable(pageData.announcement.message)">

            <ion-item class="ion-text-wrap" [detail]="false" lines="full">
                <div class="mt-cst mb-cst" style="position: relative; min-height: 50px;">
                    <span style="
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        color: white;
                        background: red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                    " class="background-dark-grey">
                        <span *ngIf="!pageData.announcement.thumbnail">{{ getLetter(pageData.announcement.subject) }}</span>
                        <span *ngIf="pageData.announcement.thumbnail" [ngStyle]="{ 'background-image': 'url(' + pageData.announcement.thumbnail + ')' }" style="
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center center;
                        "></span>
                    </span>
                    <div class="item-heading" style="margin-left: 50px;" class="pl-cst mt-8 mb-4">
                        <core-format-text [text]="pageData.announcement.subject" contextLevel="system" [contextInstanceId]="0"
                            [wsNotFiltered]="true">
                        </core-format-text>
                    </div>
                    <div style="margin-left: 50px;" class="pl-cst">{{ pageData.announcement.subTitle }} <span *ngIf="pageData.announcement.userFullname">by {{ pageData.announcement.userFullname }}</span></div>
                </div>
            </ion-item>

            <ion-item class="ion-text-wrap" [detail]="false" lines="full">
                <div>
                    <ng-container *ngFor="let message of pageData.announcement.messageArray">
                        <div *ngIf="message.type == 'text'" [innerHTML]="message.content"></div>
                        <p *ngIf="message.type == 'link'"><a (click)="openInBrowser(message.content)">{{ message.content2 }}</a></p>
                        <core-iframe *ngIf="message.type == 'youtube'" [src]="message.content" iframeHeight="auto" [allowFullscreen]="true"></core-iframe>
                    </ng-container>
                </div>
            </ion-item>

            <ion-item *ngIf="isAvailable(pageData.announcement.attachments)">
                <div>
                    <p>Downloadable:</p>
                    <p class="mr--4 ml--4">
                        <button *ngFor="let attachment of pageData.announcement.attachments" (click)="downloadAttachment(attachment.name, attachment.link)" class="button button-small mt-4 mb-4 ml-4 mr-4">
                            {{ attachment.name }}
                        </button>
                    </p>
                </div>
            </ion-item>
        </div>

        <cq_empty [empty]="isEmpty(pageData.announcement.message)"></cq_empty>

        </div>
    </core-loading>
</ion-content>
