
.mhc-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: -15px;

    .mhc-item
    {
        width: 120px;
        text-align: center;
        margin: 15px;

        .mhc-value
        {
            font-size: 1.5em;
            color: var(--headerBackgroundColor);
            margin-bottom: 5px;
        }
        .mhc-label
        {
            font-weight: 700;
        }
    }
}
