<ion-header>
    <cq_header [title]="pageData.course.name" [displayMenu]="true" [displayNotification]="true" [displayUserMenu]="true" [displayProgress]="pageIsLoading"></cq_header>
</ion-header>

<ion-content class="cq_offline_course">
    <ion-refresher slot="fixed" [disabled]="!pageStatus" (ionRefresh)="pageRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="pageStatus">
        <div class="base-background pb-5">

        <div *ngIf="isAvailable(pageData.course)">
            <ion-card>
                <div class="card-image">
                    <div *ngIf="pageData.course.courseImageFull" class="card-image-frame" [ngStyle]="{'background-image': 'url(' + pageData.course.courseImageFull + ')'}"></div>
                    <span *ngIf="!pageData.course.courseImageFull" class="card-image-letter">{{ getLetter(pageData.course.name) }}</span>

                    <div class="text-right" style="position: absolute; left: 4px; top: 4px; right: 4px;">
                        <cq_tags [item]="pageData.course"></cq_tags>
                    </div>
                </div>

                <ion-card-header>
                    <ion-card-title class="text-center">{{ pageData.course.name }}</ion-card-title>
                    <!-- <span (click)="showChecklogBannerTemp(1)">development</span> -->
                </ion-card-header>

                <ion-card-content>
                    <p><b>Description</b></p>
                    <p class="no-break">{{ pageData.course.description ? sanitizeHTML(pageData.course.description) : '-' }}</p>

                    <p class="mt-cs"><b>Organizer</b></p>
                    <p class="no-break">{{ pageData.course.organizerText }}</p>

                    <p class="mt-cs"><b>Product Group</b></p>
                    <p class="no-break">{{ pageData.course.productGroupText }}</p>

                    <p class="mt-cs"><b>CPD Hours</b></p>
                    <p class="no-break">{{ pageData.course.cpdHours }} CPD Hour{{ s(pageData.course.cpdHours) }}</p>

                    <!-- enrolled -->
                    <ng-container *ngIf="pageData.course.hasOneBatchEnrolled == '1'">
                        <ng-container *ngFor="let session of pageData.sessions; let i = index">

                            <ng-container *ngIf="session.userEnrolment == '1'">
                                <p class="mt-cs"><b>Enrolment Status</b></p>
                                <p class="no-break">In Waiting List</p>
                            </ng-container>

                            <ng-container *ngIf="session.userEnrolment == '1' || session.userEnrolment == '2'">
                                <p class="mt-cs"><b>Course Batch</b></p>
                                <p class="no-break">Batch - {{ session.startDateText }}</p>

                                <p class="mt-cs"><b>Date &amp; Time</b></p>
                                <p class="no-break">{{ session.fullDateTimeTextCombined }}</p>

                                <p class="mt-cs"><b>Withdrawal Administrator</b></p>
                                <p class="no-break">{{ session.withdrawalAdministratorText }}</p>

                                <p class="mt-cs"><b>Withdrawal Deadline</b></p>
                                <p class="no-break">{{ session.withdrawalDeadlineText }}</p>

                                <ng-container *ngIf="session.zoomMeeting != 1">
                                    <p class="mt-cs"><b>Location</b></p>
                                    <p class="no-break">{{ session.venue }}</p>

                                    <p class="no-break" *ngIf="session.userEnrolment == '2' && session.latitude && session.longitude && session.latitude != '0' && session.longitude != '0'" class="mt-cst">
                                        <button class="button-small" (click)="openMap(session)">
                                            <img src="assets/img/icons/{{ pageData.isIos ? 'apple' : 'google' }}_map.png" style="display: inline-block; width: 21px; height: 21px; vertical-align: middle;" />
                                            <span style="vertical-align: middle; margin-left: 2px;">View in Map</span>
                                        </button>
                                    </p>
                                </ng-container>
                            </ng-container>

                            <!-- information for ongoing course -->
                            <ng-container *ngIf="session.userEnrolment == '2' && !session.sessionHasEnded">
                                <ng-container *ngIf="session.zoomMeeting == 1">
                                    <p class="mt-cs"><b>Zoom Meeting</b></p>
                                    <p class="no-break" *ngIf="session.userEnrolment == '2'">
                                        <ng-container *ngFor="let date of session.dates">
                                            <ng-container *ngIf="date.dateHasNextTime">

                                                <!-- date hasn't started, give fake button -->
                                                <ng-container *ngIf="!date.dateHasStarted">
                                                    <button class="button-small" (click)="alertZoomNotStarted(date)">
                                                        <img src="assets/img/icons/zoom_meeting.png" style="display: inline-block; width: 21px; height: 21px; vertical-align: middle;" />
                                                        <span style="vertical-align: middle; margin-left: 2px;">{{ date.dateText }} {{ time24To12(timeRemoveSeconds(date.startTime)) }}</span>
                                                    </button>
                                                </ng-container>

                                                <!-- date has started, meaning the button can be fully working -->
                                                <ng-container *ngIf="date.dateHasStarted">
                                                    <button class="button-small" (click)="joinMeetingZoom(date.zoomMeetingid, date.zoomMeetingPassword)">
                                                        <img src="assets/img/icons/zoom_meeting.png" style="display: inline-block; width: 21px; height: 21px; vertical-align: middle;" />
                                                        <span style="vertical-align: middle; margin-left: 2px;">Join In App</span>
                                                    </button>

                                                    <button class="button-small ml-8" (click)="openInBrowser(date.zoomRegistrationUrl)">
                                                        <img src="assets/img/icons/zoom_meeting.png" style="display: inline-block; width: 21px; height: 21px; vertical-align: middle;" />
                                                        <span style="vertical-align: middle; margin-left: 2px;">Join In Browser</span>
                                                    </button>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </p>
                                </ng-container>

                                <ng-container *ngIf="session.calendarButtons.google || session.calendarButtons.outlook || (pageData.isIos && session.calendarButtons.apple)">
                                    <p class="mt-cs"><b>Save to Calendar</b></p>
                                    <p class="no-break">
                                        <button *ngIf="session.calendarButtons.google" class="button-small mr-8" (click)="openInBrowser(session.calendarButtons.google)">
                                            <img src="assets/img/icons/google_calendar.png" style="display: inline-block; width: 21px; height: 21px; vertical-align: middle;" />
                                            <span style="vertical-align: middle; margin-left: 2px;">Google</span>
                                        </button>
                                        <button *ngIf="session.calendarButtons.outlook" class="button-small mr-8" (click)="openInBrowser(session.calendarButtons.outlook)">
                                            <img src="assets/img/icons/outlook.png" style="display: inline-block; width: 21px; height: 21px; vertical-align: middle;" />
                                            <span style="vertical-align: middle; margin-left: 2px;">Outlook</span>
                                        </button>
                                        <button *ngIf="pageData.isIos && session.calendarButtons.apple" class="button-small mr-8" (click)="openInBrowser(session.calendarButtons.apple)">
                                            <img src="assets/img/icons/apple_calendar.png" style="display: inline-block; width: 21px; height: 21px; vertical-align: middle;" />
                                            <span style="vertical-align: middle; margin-left: 2px;">Apple</span>
                                        </button>
                                    </p>
                                </ng-container>
                            </ng-container>

                        </ng-container>
                    </ng-container>
                </ion-card-content>
            </ion-card>

            <!-- not enrolled -->
            <ng-container *ngIf="pageData.course.hasOneBatchEnrolled == '0'">
                <!-- has batch -->
                <ng-container *ngIf="pageData.course.hasBatch == '1'">
                    <div class="main-font text-left" class="pl-20 pr-20 mt-28 text-left" style="font-size: 16px;">
                        Choose Your Intake
                        <div class="gradient-background" style="height: 4px;border-radius: 0px 2px 2px 0px;margin-top: 12px;margin-left: -20px;"></div>
                    </div>

                    <ion-card *ngFor="let session of pageData.sessions">
                        <ion-card-content>
                            <div class="sessions">

                                <div class="session">
                                    <div class="session-info">
                                        <div class="card-item">
                                            <div class="card-item-icon">
                                                <ion-icon name="bookmark"></ion-icon>
                                            </div>
                                            <div class="card-item-text">Batch - {{ session.startDateText }}</div>
                                        </div>

                                        <div class="card-item">
                                            <div class="card-item-icon">
                                                <ion-icon name="time"></ion-icon>
                                            </div>
                                            <div class="card-item-text">{{ session.fullDateTimeTextCombined }}</div>
                                        </div>

                                        <div *ngIf="session.zoomMeeting != 1" class="card-item">
                                            <div class="card-item-icon">
                                                <ion-icon name="map"></ion-icon>
                                            </div>
                                            <div class="card-item-text">{{ session.venue }}</div>
                                        </div>

                                        <div *ngIf="session.zoomMeeting == 1" class="card-item">
                                            <div class="card-item-icon">
                                                <ion-icon name="desktop"></ion-icon>
                                            </div>
                                            <div class="card-item-text">Zoom Meeting</div>
                                        </div>
                                        
                                        <div class="card-item">
                                            <div class="card-item-icon">
                                                <ion-icon name="people"></ion-icon>
                                            </div>
                                            <div class="card-item-text">
                                                <span *ngIf="session.availableSeat > 0">{{ session.availableSeat }} Seat{{ s(session.availableSeat) }} Available</span>
                                                <span *ngIf="session.availableSeat == 0">Full</span>
                                            </div>
                                        </div>

                                        <div class="card-item">
                                            <button *ngIf="session.unavailableMessage == ''" (click)="takeSession(session)" class="button button-small {{ loading ? 'active' : '' }}" style="width: 100%;">
                                                <span *ngIf="!loading"><b>Enrol</b></span>
                                                <ion-spinner *ngIf="loading"></ion-spinner>
                                            </button>

                                            <div *ngIf="session.unavailableMessage != ''" class="no-break text-center pl-12 pt-12 pr-12 pb-12 background-red color-white" style="border-radius: 12px;">
                                                {{ session.unavailableMessage }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ion-card-content>
                    </ion-card>
                </ng-container>

                <!-- no batch -->
                <ion-card *ngIf="pageData.course.hasBatch == '0'">
                    <ion-card-content>
                        <div class="pt-15 pb-15">This course has no batch</div>
                    </ion-card-content>
                </ion-card>
            </ng-container>

            <!-- enrolled -->
            <ng-container *ngIf="pageData.course.hasOneBatchEnrolled == '1'">
                <ng-container *ngFor="let session of pageData.sessions; let i = index">
                    <!-- progress card for enrolled course -->
                    <ng-container *ngIf="session.userEnrolment == '2'">
                        <div *ngIf="!session.sessionHasEnded" class="pl-cs pr-cs mt-cst mb-cst">
                            <p *ngIf="session.unavailableMessage == ''" class="mt-cs">
                                <button (click)="leaveSession(session)" class="button button-small {{ loading ? 'active' : '' }}" style="width: 100%;">
                                    <span *ngIf="!loading"><b class="color-red">Withdraw</b></span>
                                    <ion-spinner *ngIf="loading"></ion-spinner>
                                </button>
                            </p>

                            <div *ngIf="session.unavailableMessage != ''" class="no-break text-center pl-12 pt-12 pr-12 pb-12 background-red color-white" style="border-radius: 12px;">
                                {{ session.unavailableMessage }}
                            </div>
                        </div>

                        <div *ngIf="session.zoomMeeting != 1 || (session.zoomMeeting == 1 && session.retainQrCodeChecklog == 1)" class="main-font text-left" class="pl-20 pr-20 mt-28 text-left" style="font-size: 16px;">
                            Progress
                            <div class="cq-tag-wrapper" style="float: right; margin-top: -8px;">
                                <div class="cq-tag {{ session.userAttendance == 'accredited' ? 'green' : 'dark-grey' }}">
                                    <ion-icon *ngIf="session.userAttendance == 'accredited'" name="checkmark-circle" style="vertical-align: text-bottom; padding-right: 2px;"></ion-icon>
                                    {{ session.userAttendanceText }}
                                </div>
                            </div>

                            <div class="gradient-background" style="height: 4px;border-radius: 0px 2px 2px 0px;margin-top: 12px;margin-left: -20px;"></div>
                        </div>

                        <ion-card *ngIf="session.zoomMeeting != 1 || (session.zoomMeeting == 1 && session.retainQrCodeChecklog == 1)">
                            <ion-card-content>
                                <div *ngIf="!session.sessionHasEnded && session.willStartInDegradated > 0" class="pt-cs pb-cs mb-cs">
                                    <cq_will_start_in [unixtimestamp]="session.willStartIn" [big]="session.willStartInDegradated > 3600" [animation]="true" (onZero)="timeHasCome($event, i)"></cq_will_start_in>
                                </div>

                                <div *ngIf="!session.sessionHasEnded && session.willStartInDegradated <= 3600" class="qr-scanner-button mb-cs">
                                    <div class="button">
                                        <ion-icon class="button-big pl-10 pr-10" name='scan-outline' (click)="scanQRCode(session)"></ion-icon>
                                        <ion-icon class="button-small" name='qr-code-outline'></ion-icon>
                                    </div>
                                    <!-- 
                                    <button class="button ml-cs mt-cs mr-cs mb-cs" (click)="fakeQRCode(session)">
                                        Fake QR Code
                                    </button>
                                     -->
                                </div>

                                <table style="max-width: 100%; margin: 0px auto">
                                    <tr *ngFor="let checklog of session.checklogs; let i = index">
                                        <td class="{{ i ? 'pt-12' : '' }}" style="vertical-align: top;">
                                            CHECKLOG {{ checklog.inOut }}<br />
                                            <small>{{ checklog.date }} {{ time24To12(checklog.time) }}</small>
                                        </td>
                                        <td class="pl-20 pr-20 text-center {{ i ? 'pt-12' : '' }}" style="vertical-align: top;">:</td>
                                        <td class="text-right {{ i ? 'pt-12' : '' }}" style="vertical-align: top;">
                                            <span *ngIf="checklog.status == '-1' && session.userAttendance != 'accredited'">{{checklog.statusText}}</span>

                                            <span *ngIf="checklog.status == '0' && session.userAttendance != 'accredited'">
                                                <ion-icon name="close-circle" (click)="showRejectedReason(checklog.message)" class="color-red" style="font-size: 20px;"></ion-icon>
                                            </span>

                                            <span *ngIf="checklog.status == '1' || session.userAttendance == 'accredited'">
                                                <ion-icon name="checkmark-circle" class="color-green" style="font-size: 20px;"></ion-icon>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </ion-card-content>
                        </ion-card>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>

        <cq_empty [empty]="isEmpty(pageData.course)"></cq_empty>

        </div>
    </core-loading>
</ion-content>
