@import "~theme/globals";

:host {
    .addon-mod_scorm-attempt-summary ion-item > p {
        font-size: var(--text-size);
    }

    .addon-mod_scorm-toc {
        // Hide all non sco icons using css to maintain padding.
        ion-icon {
            opacity: 0;
            @include margin(5px, 8px, null, null);
        }

        .addon-mod_scorm-type-sco ion-icon {
            opacity: 1
        }
    }
}

// by rachmad
#main-scorm-content
{
    height: calc(100vh - 50px - 72px - 54px - 48px);
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;

    ion-item
    {
        margin-top: 20px;
    }
}
