<ion-header>
    <ion-toolbar class="base-background-as-var">
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>

        <ion-title>
            <h1 style="color: #222222;">{{ 'core.login.passwordforgotten' | translate }}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding limited-width" style="position: relative;">
    <div id="wrapper" class="base-background pl-cs pt-cs pr-cs pb-cs" style="position: absolute; left: 0px; top: 0px; width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; z-index: 11;">
        <div class="ion-text-wrap ion-text-center ion-margin-bottom">
            <div *ngIf="canContactSupport && wasPasswordResetRequestedRecently" style="text-align: left;">
                <core-login-exceeded-attempts [supportConfig]="supportConfig"
                    [supportSubject]="'core.login.exceededpasswordresetattemptssupportsubject' | translate">
                    {{ 'core.login.exceededpasswordresetattempts' | translate }}
                </core-login-exceeded-attempts>
            </div>
            <div style="text-align: left;">
                {{ 'core.login.passwordforgotteninstructions2' | translate }}
            </div>
        </div>

        <form [formGroup]="myForm" (ngSubmit)="resetPassword($event)" class="core-login-form mt-cs" #resetPasswordForm>
            <div>
                {{ 'core.login.searchby' | translate }}
            </div>

            <button class="mt-cst {{usingEmail ? '' : 'active'}}" type="button" style="width: 100%; font-size: 14px; padding: 0px; display: flex; justify-content: center; align-items: center;" (click)="changeUsingEmail(false)">
                <div style="display: flex; width: 100%; padding: 0px 8px;">
                    <ion-label style="flex-grow: 1; text-align: left; padding-left: 8px; padding-top: 6px; font-size: 14px;">{{ 'core.login.username' | translate }}</ion-label>
                    <ion-icon *ngIf="!usingEmail" name="checkmark-circle-outline" style="font-size: 30px;"></ion-icon>
                    <ion-icon *ngIf="usingEmail" name="ellipse-outline" style="font-size: 30px;"></ion-icon>
                </div>
            </button>
            <button class="mt-cst {{usingEmail ? 'active' : ''}}" type="button" style="width: 100%; font-size: 14px; padding: 0px; display: flex; justify-content: center; align-items: center;" (click)="changeUsingEmail(true)">
                <div style="display: flex; width: 100%; padding: 0px 8px;">
                    <ion-label style="flex-grow: 1; text-align: left; padding-left: 8px; padding-top: 6px; font-size: 14px;">{{ 'core.user.email' | translate }}</ion-label>
                    <ion-icon *ngIf="usingEmail" name="checkmark-circle-outline" style="font-size: 30px;"></ion-icon>
                    <ion-icon *ngIf="!usingEmail" name="ellipse-outline" style="font-size: 30px;"></ion-icon>
                </div>
            </button>

            <div class="login-inset-field mt-cst">
                <ion-input type="text" name="value" placeholder="{{ 'core.login.usernameoremail' | translate }}" formControlName="value" autocapitalize="none" autocorrect="off" autocomplete="value" required="true" [core-auto-focus]="autoFocus">
                </ion-input>
            </div>

            <button class="mt-cst" type="submit" [disabled]="!myForm.valid" style="width: 100%; font-size: 14px; padding: 0px; display: flex; justify-content: center; align-items: center;">
                {{ 'core.courses.search' | translate }}
            </button>
        </form>
    </div>
</ion-content>
