<ion-toolbar hideBackButton>
    <ion-buttons slot="start">
        <ion-back-button [text]="'core.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <!-- 
        <core-context-menu>
            <core-context-menu-item [priority]="1000"
                [content]="'core.settings.showdownloadoptions' | translate" (action)="toggleDownload()" iconAction="toggle"
                [(toggle)]="downloadEnabled"></core-context-menu-item>
            <core-context-menu-item [priority]="900" [content]="'core.courses.showonlyenrolled' | translate" (action)="toggleEnrolled()"
                iconAction="toggle" [(toggle)]="showOnlyEnrolled"></core-context-menu-item>
        </core-context-menu>
         -->
        <div *ngIf="displayNotification" class="drawer-button notifications" (click)="goToNotificationsList()">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge *ngIf="isAvailable(number)" item-end="" class="badge">{{ number }}</ion-badge>
        </div>
        <core-user-menu-button *ngIf="displayUserMenu" [alwaysShow]="true"></core-user-menu-button>
    </ion-buttons>

    <ion-title>
        <h1 class="color-white text-center">{{ title }}</h1>
    </ion-title>
    <ion-progress-bar *ngIf="displayProgress" type="indeterminate" style="position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 9;"></ion-progress-bar>
</ion-toolbar>
