<ion-header>
    <cq_header [title]="'addon.calendar.calendarevents' | translate" [displayMenu]="true" [displayNotification]="true" [displayUserMenu]="true" [displayProgress]="pageIsLoading"></cq_header>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" [disabled]="!loaded" (ionRefresh)="doRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="loaded">
        <div class="core-swipe-slides-container">
            <!-- Period name and arrows to navigate. -->
            <ion-grid class="ion-no-padding safe-area-padding pt-cs pl-cs pr-cs pb-cs" style="display: flex; justify-content: space-between;">
                <ion-button fill="clear" (click)="loadPrevious()" [attr.aria-label]="'core.previous' | translate" class="ml-0 mt-0 mr-0 mb-0" size="small">
                    <ion-icon name="fas-chevron-left" slot="icon-only" aria-hidden="true" style="font-size: 16px;"></ion-icon>
                </ion-button>
                
                <h5 id="addon-calendar-monthname">
                    <b>{{ periodName }}</b>
                </h5>

                <ion-button fill="clear" (click)="loadNext()" [attr.aria-label]="'core.next' | translate" class="ml-0 mt-0 mr-0 mb-0" size="small">
                    <ion-icon name="fas-chevron-right" slot="icon-only" aria-hidden="true" style="font-size: 16px;"></ion-icon>
                </ion-button>
            </ion-grid>

            <core-swipe-slides [manager]="manager">
                <ng-template let-day="item">
                    <core-loading [hideUntil]="day.loaded">
                        <!-- There is data to be synchronized -->
                        <ion-card class="core-warning-card list-item-limited-width" *ngIf="day.hasOffline">
                            <ion-item>
                                <ion-icon name="fas-exclamation-triangle" slot="start" aria-hidden="true"></ion-icon>
                                <ion-label>{{ 'core.hasdatatosync' | translate:{$a: 'core.day' | translate} }}</ion-label>
                            </ion-item>
                        </ion-card>

                        <core-empty-box *ngIf="!day.filteredEvents || !day.filteredEvents.length" icon="fas-calendar" [message]="'addon.calendar.noevents' | translate">
                        </core-empty-box>

                        <div *ngIf="day.filteredEvents && day.filteredEvents.length" class="cq-events pl-cs pr-cs">
                            <button *ngFor="let event of day.filteredEvents" (click)="gotoEvent(event.id, day)" class="pl-cs pt-cs pr-cs pb-cs mb-cs" style="width: 100%">
                                <ion-label style="display: flex; justify-content: center; flex-direction: column; text-align: left;">
                                    <core-format-text style="font-size: 16px; line-height: 1.5em; font-weight: 700;" [text]="event.name" [contextLevel]="event.contextLevel" [contextInstanceId]="event.contextInstanceId"></core-format-text>
                                    <p style="font-size: 16px; line-height: 1.5em" [innerHTML]="event.formattedtime"></p>
                                </ion-label>

                                <ion-note *ngIf="event.offline && !event.deleted" slot="end">
                                    <ion-icon name="fas-clock" aria-hidden="true"></ion-icon>
                                    <span class="ion-text-wrap">{{ 'core.notsent' | translate }}</span>
                                </ion-note>
                                <ion-note *ngIf="event.deleted" slot="end">
                                    <ion-icon name="fas-trash" aria-hidden="true"></ion-icon>
                                    <span class="ion-text-wrap">{{ 'core.deletedoffline' | translate }}</span>
                                </ion-note>
                            </button>
                        </div>
                    </core-loading>
                </ng-template>
            </core-swipe-slides>
        </div>
    </core-loading>

    <!-- 
    <ion-fab slot="fixed" core-fab vertical="bottom" horizontal="end">
        <ion-fab-button *ngIf="loaded && selectedDayHasOffline() && isOnline" (click)="doRefresh()" [attr.aria-label]="'core.settings.synchronizenow' | translate" class="mb-cst" size="small" fill="clear">
            <ion-icon name="sync" aria-hidden="true" style="color: white; font-size: 24px;"></ion-icon>
            <span class="sr-only">{{ 'core.settings.synchronizenow' | translate }}</span>
        </ion-fab-button>

        <ion-fab-button (click)="openFilter()" [attr.aria-label]="'core.filter' | translate" class="mb-cst" size="small" fill="clear">
            <ion-icon name="fas-filter" aria-hidden="true" style="color: white; font-size: 16px;"></ion-icon>
            <span class="sr-only">{{ 'core.filter' | translate }}</span>
        </ion-fab-button>

        <ion-fab-button *ngIf="canCreate" (click)="openEdit()" [attr.aria-label]="'addon.calendar.newevent' | translate" size="small" fill="clear">
            <ion-icon name="fas-plus" aria-hidden="true" style="color: white; font-size: 16px;"></ion-icon>
            <span class="sr-only">{{ 'addon.calendar.newevent' | translate }}</span>
        </ion-fab-button>
    </ion-fab>
     -->
</ion-content>
