<core-user-avatar *ngIf="(alwaysShow || isMainScreen) && siteInfo" [user]="siteInfo" class="core-bar-button-image clickable"
    [linkProfile]="false" (ariaButtonClick)="openUserMenu($event)" [userTour]="userTour" role="button" tabindex="0"
    [attr.aria-label]="'core.user.useraccount' | translate">
</core-user-avatar>

<!-- by rachmad -->
<ion-badge *ngIf="(alwaysShow || isMainScreen) && siteInfo && avatarCounter != 0" slot="end" aria-hidden="true" style="position: absolute; top: 4px; right: 0px; pointer-events: none;">
    {{ avatarCounter }}
</ion-badge>
<!-- by rachmad -->