<!-- by rachmad -->
<ion-content class="ion-padding limited-width">
    <core-loading [hideUntil]="pageLoaded">
        <div id="outer-wrapper" class="base-background" style="position: fixed; left: 0px; top: 0px; right: 0px; bottom: 0px; display: flex; flex-direction: column; justify-content: center;">
            <div id="wrapper" class="pl-cs pt-cs pr-cs pb-cs" style="display: flex; flex-direction: column; justify-content: space-between; height: calc(100vh - 40px * 2); max-height: 800px;">
                <div class="ion-text-wrap ion-text-center ion-margin-bottom">
                    <div class="core-login-site-logo" style="width: 160px; height: 160px; margin: 0px auto;">
                        <img class="neumorphism-shadow" src="assets/img/login/login_logo.png" role="presentation" alt="" style="border: 12px solid white; border-radius: 48px;">
                    </div>

                    <h5 *ngIf="siteName" class="text-center" style="margin: 24px 0px 0px;">{{ siteName }}</h5>
                </div>

                <form [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
                    <div *ngIf="siteChecked && !isBrowserSSO" class="login-inset-field">
                        <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}" formControlName="username" autocapitalize="none" autocorrect="off" autocomplete="username" enterkeyhint="next" required="true">
                        </ion-input>
                    </div>

                    <div *ngIf="siteChecked && !isBrowserSSO" class="login-inset-field mt-cst">
                        <core-show-password name="password">
                            <ion-input name="password" type="password" placeholder="{{ 'core.login.password' | translate }}"
                                formControlName="password" [clearOnEdit]="false" autocomplete="current-password" enterkeyhint="go" required="true">
                            </ion-input>
                        </core-show-password>
                    </div>

                    <button class="mt-cst" type="submit" [disabled]="siteChecked && !isBrowserSSO && !credForm.valid" style="width: 100%; font-size: 14px; padding: 0px; display: flex; justify-content: center; align-items: center;">
                        {{ 'core.login.loginbutton' | translate }}
                    </button>
                </form>

                <div *ngIf="identityProviders && identityProviders.length">
                    <h6 class="text-center">Login Using:</h6>
                    <button *ngFor="let provider of identityProviders" (click)="oauthClicked(provider)" class="mt-cst" style="width: 100%; font-size: 14px; padding: 0px; display: flex; justify-content: center; align-items: center;">
                        <img [src]="provider.iconurl" alt="" width="32" height="32" slot="start">
                        <ion-label class="ml-8">{{provider.name}}</ion-label>
                    </button>
                </div>

                <!-- Forgotten password option. -->
                <div *ngIf="showForgottenPassword">
                    <h6 class="text-center">{{ 'core.login.forgotten' | translate }}</h6>
                    <button expand="block" fill="clear" class="core-login-forgotten-password core-button-as-link ion-text-wrap" (click)="forgottenPassword()" style="width: 100%; font-size: 14px; display: flex; justify-content: center; align-items: center;">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </core-loading>
</ion-content>
